<div class="main-container">
  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ sourceId > 0 ? 'Edit Source' : 'Add Source' }}
        <button (click)="onBackToLineage()" class="p-r-10" *ngIf="isBacktolineage">
          Back to lineage
        </button>
      </h2>
    </section>
    <mat-card>
      <div class="overlay-loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <div class="container">
        <div class="source-container">
          <!-- Left: Edit Source Form -->
          <div class="left-panel">
            <!-- <h2>Source</h2> -->
            <form [formGroup]="sourceForm">
              <!-- Your form controls for editing the source -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Source Name</mat-label>
                <input matInput formControlName="source_name" />
                <mat-error *ngIf="sourceForm.get('source_name')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Vendor</mat-label>
                <input matInput formControlName="vendor" />
                <mat-error *ngIf="sourceForm.get('vendor')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Quality Of Service</mat-label>
                <mat-select formControlName="quality_of_service" (selectionChange)="toggleFieldsBasedOnQoS($event)">
                  <mat-option *ngFor="let quality of serviceQualityOptions" [value]="quality">
                    {{ quality }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('quality_of_service')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Quality Of Service</mat-label>
            <input matInput formControlName="quality_of_service" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Frequency Of Update</mat-label>
                <input matInput formControlName="frequency_of_update" (input)="onFrequencyChange()" min="1" />
                <mat-error *ngIf="sourceForm.get('frequency_of_update')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Schedule Of Update</mat-label>
            <input matInput formControlName="schedule_of_update" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Schedule Of Update</mat-label>
                <mat-select formControlName="schedule_of_update" multiple
                  (selectionChange)="onScheduleSelectionChange($event)">
                  <mat-option *ngFor="let time of timeOptions" [value]="time">
                    {{ time }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="scheduleLimitReached" style="color: red;">
                  You can only select {{ frequencyLimit }} time(s)
                </mat-hint>
                <mat-error *ngIf="sourceForm.get('schedule_of_update')?.hasError('required')"></mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Methodology Of Transfer</mat-label>
                <input matInput formControlName="methodology_of_transfer" />
                <mat-error *ngIf="sourceForm.get('methodology_of_transfer')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Source Type</mat-label>
                <mat-select formControlName="source_type">
                  <mat-option *ngFor="let type of sourceTypeOptions" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('source_type')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Source Type</mat-label>
            <input matInput formControlName="source_type" />
          </mat-form-field>
      -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Version</mat-label>
                <input matInput formControlName="source_version_number" />
                <mat-error *ngIf="sourceForm.get('source_version_number')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Status</mat-label>
            <input matInput formControlName="source_status" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Status</mat-label>
                <mat-select formControlName="source_status">
                  <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('source_status')?.hasError('required')">Required</mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="source_owner" />
                <mat-error *ngIf="sourceForm.get('source_owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="source_owner_email" />
                <mat-error *ngIf="sourceForm.get('source_owner_email')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="sourceForm.get('source_owner_email')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>
            </form>
            <div class="form-grid">
              <button (click)="onUpdate()">Save</button>
            </div>
          </div>
          <!-- Right: DataFields Table -->

          <div class="right-panel" *ngIf="sourceId>0" style="margin: 10px 0px 1rem 0px;">
            <!-- Information Box --> <!-- TABS CONTAINER -->
            <div class="tab-container">
              <button class="inverse">
                Data Fields
              </button>
            </div>

            <div class="datafields-table" *ngIf="showDataFields">
              <div class="datafields-header" *ngIf="showDataFields" style="padding: 6px 10px;">
                <!-- <h3>DataFields</h3> -->
                <div class="checkbox-title">
                  <label style="margin-left: 16px;font-size: 13px;">
                    <input type="checkbox" [(ngModel)]="showGlobalQualityRisk"
                      style="vertical-align: sub;margin-right: 4px;" />
                    Set Global Quality Risk
                  </label>
                </div>
              </div>
              <!-- Conditional rendering of the AG Grid -->

              <div style="margin: 10px">
                <ag-grid-angular *ngIf="showGlobalQualityRisk" class="ag-theme-alpine"
                  style="width: 100%; min-height: 200px; max-height: 200px; overflow-y: auto;" [rowData]="rowDataDQA"
                  [columnDefs]="columnDefsDQA" [defaultColDef]="defaultColDef" rowSelection="single"
                  [domLayout]="'autoHeight'">
                </ag-grid-angular>

                <div class="ngprime-table">
                  <div class="header">
                    <p-toolbar>
                      <div class="p-toolbar-group-left">
                        <button class="btn btn--tertiary btn-sm" (click)="openNew()" style="margin-right: 16px;">
                          <lucide-icon name="plus" style="width: 16px;"></lucide-icon>
                          Add New Field</button>
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" #globalFilter
                            (input)="dt.filterGlobal(globalFilter.value, 'contains')" placeholder="Global Search" />
                        </span>
                      </div>

                      <div class="p-toolbar-group-right">
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                          placeholder="Choose Columns" display="chip" (onChange)="onColumnsChange($event)">
                        </p-multiSelect>
                      </div>
                    </p-toolbar>
                  </div>

                  <div class="man">
                    <p-table #dt [value]="rowData" [paginator]="true" [rows]="10" [resizableColumns]="true"
                      [globalFilterFields]="globalFilterFields" [rowsPerPageOptions]="[10,25,50]"
                      [responsiveLayout]="'scroll'" sortMode="multiple" [showCurrentPageReport]="true" editMode="cell"
                      columnResizeMode="fit"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                      styleClass="p-datatable-gridlines p-datatable-sm" class="p-dense">

                      <!-- Header Section -->
                      <ng-template pTemplate="header">
                        <!-- Parent Header -->
                        <tr>
                          <th [attr.colspan]="cols.length" class="custom-parent-header" pTooltip="DQA">DQA</th>
                        </tr>

                        <!-- Child Headers -->
                        <tr>
                          <th *ngFor="let col of cols" pTooltip="{{ col.tooltip || col.header }}">{{ col.header }}</th>
                        </tr>
                      </ng-template>

                      <!-- Dynamic Column Headers -->
                      <ng-container *ngFor="let col of selectedColumns" pResizableColumn>
                        <ng-container *ngIf="col.field !== 'actions'">
                          <ng-template pTemplate="header">
                            {{ col.header }}
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                            <ng-container *ngIf="!col.editable; else editableCell">
                              {{ rowData[col.field] }}
                            </ng-container>
                            <ng-template #editableCell>

                              <ng-template #inputField>
                                <input type="text" pInputText [(ngModel)]="rowData[col.field]"
                                  class="custom-table-input" />
                              </ng-template>
                            </ng-template>
                          </ng-template>
                        </ng-container>
                      </ng-container>

                      <!-- Actions Column -->
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th [attr.colspan]="7" class="custom-parent-header">Data Fields</th>
                          <th [attr.colspan]="6" class="custom-parent-header">DQA</th>
                          <th [attr.colspan]="2" class="custom-parent-header">Action</th>
                        </tr>
                        <tr>
                          <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                          <th></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData>
                        <tr>
                          <td *ngFor="let col of selectedColumns" pResizableColumn>
                            {{ rowData[col.field] }}
                          </td>
                          <td>
                            <button pButton icon="pi pi-pencil" class="p-button-text p-button-info"
                              (click)="editField(rowData)"></button>
                            <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                              (click)="confirmDelete(rowData)"></button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>

                  <!-- Add/Edit Dialog -->
                  <div class="form-dialog-container">
                    <p-dialog header="{{ isEdit ? 'Edit Field' : 'Add Field' }}" [(visible)]="fieldDialog"
                      [modal]="true" [style]="{width: '600px' }" [closable]="true">
                      <form [formGroup]="fieldForm" (ngSubmit)="saveField()">
                        <div class="p-fluid">
                          <div class="p-row">
                            <div class="p-field p-mb-3 p-col">
                              <label for="user_generated_id">Field No.</label>
                              <input id="user_generated_id" type="number" pInputText formControlName="user_generated_id" />
                            </div>

                            <div class="p-field p-mb-3 p-col">
                              <label for="field_name">Field Name</label>
                              <input id="field_name" type="text" pInputText formControlName="field_name" />
                              <small class="p-error"
                                *ngIf="fieldForm.get('field_name')?.invalid && fieldForm.get('field_name')?.touched">
                                Field Name is required
                              </small>
                            </div>
                          </div>

                          <div class="p-row">
                            <div class="p-field p-mb-3 p-col">
                              <label for="data_type">Data Type</label>
                              <p-dropdown id="data_type" [options]="dataTypeOptions" formControlName="data_type"
                                placeholder="Select Data Type"></p-dropdown>
                              <small class="p-error"
                                *ngIf="fieldForm.get('data_type')?.invalid && fieldForm.get('data_type')?.touched">
                                Data Type is required
                              </small>
                            </div>

                            <div class="p-field p-mb-3 p-col">
                              <label for="field_length">Length</label>
                              <input id="field_length" type="number" pInputText formControlName="field_length" />
                              <small class="p-error"
                                *ngIf="fieldForm.get('field_length')?.invalid && fieldForm.get('field_length')?.touched">
                                Length is required and must be numeric
                              </small>
                            </div>
                          </div>

                          <div class="p-row">
                            <div class="p-field p-mb-3 p-col">
                              <label for="Completeness">Completeness</label>
                              <p-dropdown id="Completeness" [options]="RiskTypeOptions" formControlName="dqa_c"
                                placeholder="Select Completeness"></p-dropdown>
                            </div>

                            <div class="p-field p-mb-3 p-col">
                              <label for="commentary_c">C Commentary</label>
                              <input id="commentary_c" type="text" pInputText formControlName="commentary_c" />
                            </div>
                          </div>

                          <div class="p-row">
                            <div class="p-field p-mb-3 p-col">
                              <label for="Completeness">Timeliness</label>
                              <p-dropdown id="Timeliness" [options]="RiskTypeOptions" formControlName="dqa_t"
                                placeholder="Select Timeliness"></p-dropdown>
                            </div>

                            <div class="p-field p-mb-3 p-col">
                              <label for="commentary_t">T Commentary</label>
                              <input id="commentary_t" type="text" pInputText formControlName="commentary_t" />
                            </div>
                          </div>

                          <div class="p-row">
                            <div class="p-field p-mb-3 p-col">
                              <label for="Accuracy">Accuracy</label>
                              <p-dropdown id="Accuracy" [options]="RiskTypeOptions" formControlName="dqa_a"
                                placeholder="Select Accuracy"></p-dropdown>
                            </div>

                            <div class="p-field p-mb-3 p-col">
                              <label for="commentary_a">A Commentary</label>
                              <input id="commentary_a" type="text" pInputText formControlName="commentary_a" />
                            </div>
                          </div>
                        </div>

                        <div class="p-dialog-footer">
                          <button class="btn btn--secondary btn-md" type="button" label="Cancel"
                            (click)="hideDialog()">Cancel</button>
                          <button class="btn btn--primary btn-md" type="submit" label="Save">Save</button>
                        </div>
                      </form>
                    </p-dialog>
                  </div>

                  <!-- delete confirmation dialog -->
                  <p-dialog header="Confirm Delete" [(visible)]="showDeleteDialog" [modal]="true" [closable]="false">
                    <p>Are you sure you want to delete <strong>{{ selectedRow?.field_name }}</strong>?</p>
                    <p-footer>
                      <button pButton label="No" class="p-button-danger p-r-10"
                        (click)="showDeleteDialog = false"></button>
                      <button pButton label="Yes" class="p-button-success " (click)="deleteRow()"></button>
                    </p-footer>
                  </p-dialog>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>