<div class="main-container">
  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ sourceId > 0 ? 'Edit Source' : 'Add Source' }}
        <button (click)="onBackToLineage()" class="p-r-10" *ngIf="isBacktolineage">
          Back to lineage
        </button>
      </h2>
    </section>
    <mat-card>
      <div class="overlay-loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <div class="container">
        <div class="source-container">
          <!-- Left: Edit Source Form -->
          <div class="left-panel">
            <!-- <h2>Source</h2> -->
            <form [formGroup]="sourceForm">
              <!-- Your form controls for editing the source -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Source Name</mat-label>
                <input matInput formControlName="source_name" />
                <mat-error *ngIf="sourceForm.get('source_name')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Vendor</mat-label>
                <input matInput formControlName="vendor" />
                <mat-error *ngIf="sourceForm.get('vendor')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Quality Of Service</mat-label>
                <mat-select formControlName="quality_of_service">
                  <mat-option *ngFor="let quality of serviceQualityOptions" [value]="quality">
                    {{ quality }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('quality_of_service')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Quality Of Service</mat-label>
            <input matInput formControlName="quality_of_service" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Frequency Of Update</mat-label>
                <input matInput formControlName="frequency_of_update" (input)="onFrequencyChange()" min="1" />
                <mat-error *ngIf="sourceForm.get('frequency_of_update')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Schedule Of Update</mat-label>
            <input matInput formControlName="schedule_of_update" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Schedule Of Update</mat-label>
                <mat-select formControlName="schedule_of_update" multiple
                  (selectionChange)="onScheduleSelectionChange($event)">
                  <mat-option *ngFor="let time of timeOptions" [value]="time">
                    {{ time }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="scheduleLimitReached" style="color: red;">
                  You can only select {{ frequencyLimit }} time(s)
                </mat-hint>
                <mat-error *ngIf="sourceForm.get('schedule_of_update')?.hasError('required')"></mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Methodology Of Transfer</mat-label>
                <input matInput formControlName="methodology_of_transfer" />
                <mat-error *ngIf="sourceForm.get('methodology_of_transfer')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Source Type</mat-label>
                <mat-select formControlName="source_type">
                  <mat-option *ngFor="let type of sourceTypeOptions" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('source_type')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Source Type</mat-label>
            <input matInput formControlName="source_type" />
          </mat-form-field>
      -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Version</mat-label>
                <input matInput formControlName="source_version_number" />
                <mat-error *ngIf="sourceForm.get('source_version_number')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Status</mat-label>
            <input matInput formControlName="source_status" />
          </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Status</mat-label>
                <mat-select formControlName="source_status">
                  <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="sourceForm.get('source_status')?.hasError('required')">Required</mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="source_owner" />
                <mat-error *ngIf="sourceForm.get('source_owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="source_owner_email" />
                <mat-error *ngIf="sourceForm.get('source_owner_email')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="sourceForm.get('source_owner_email')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>
            </form>
            <div class="form-grid">
              <button (click)="onUpdate()">Save</button>
            </div>
          </div>
          <!-- Right: DataFields Table -->

          <div class="right-panel" *ngIf="sourceId>0" style="margin: 10px 0px 1rem 0px;">
            <!-- Information Box --> <!-- TABS CONTAINER -->
            <div class="tab-container">
              <button [ngClass]="{ 'inverse': activeView === 'interfaces' }">
                Data Fields
              </button>
            </div>

            <div class="datafields-table" *ngIf="showDataFields">
              <div class="datafields-header" *ngIf="showDataFields" style="padding: 6px 10px;">
                <!-- <h3>DataFields</h3> -->
                <button (click)="addRow()"
                  style="font-size: 13px;border: none;background: transparent;color: #3e63dd;">Add Row</button>
                <label style="margin-left: 16px;font-size: 13px;">
                  <input type="checkbox" [(ngModel)]="showGlobalQualityRisk"
                    style="vertical-align: sub;margin-right: 4px;" />
                  Set Global Quality Risk
                </label>
              </div>
              <!-- Conditional rendering of the AG Grid -->

              <div style="margin: 10px">
                <ag-grid-angular *ngIf="showGlobalQualityRisk" class="ag-theme-alpine"
                  style="width: 100%; min-height: 200px; max-height: 200px; overflow-y: auto;" [rowData]="rowDataDQA"
                  [columnDefs]="columnDefsDQA" [defaultColDef]="defaultColDef" rowSelection="single"
                  [domLayout]="'autoHeight'">
                </ag-grid-angular>

                <!-- <ag-grid-angular
          class="ag-theme-alpine"
          style="width: 100%; height: 400px;"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (cellValueChanged)="onCellValueChanged($event)"
          rowSelection="single"
          [suppressColumnVirtualisation]="true"
          [domLayout]="'normal'"
          >
          </ag-grid-angular> -->
                <div class="ngprime-table">
                  <div class="header" style="margin: 0px">
                    <p-toolbar>
                      <div class="p-toolbar-group-left">
                        <span class="p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" #globalFilter
                            (input)="dt.filterGlobal(globalFilter.value, 'contains')" placeholder="Global Search" />
                        </span>
                      </div>

                      <div class="p-toolbar-group-right">
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                          placeholder="Choose Columns" display="chip">
                        </p-multiSelect>
                      </div>
                    </p-toolbar>
                  </div>

                  <div class="man" style="margin-top: 4px;">
                    <p-table #dt [value]="rowData" [paginator]="true" [rows]="10" [resizableColumns]="true"
                      [globalFilterFields]="globalFilterFields" [rowsPerPageOptions]="[10,25,50]"
                      [responsiveLayout]="'scroll'" sortMode="multiple" [showCurrentPageReport]="true" editMode="cell"
                      resizableColumns="true" columnResizeMode="fit"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                      styleClass="p-datatable-gridlines p-datatable-sm" class="p-dense">

                      <!-- Header Section -->
                      <ng-template pTemplate="header">
                        <!-- Parent Header -->
                        <tr>
                          <th [attr.colspan]="cols.length" class="custom-parent-header" pTooltip="DQA">
                            DQA
                          </th>
                        </tr>

                        <!-- Child Headers -->
                        <tr>
                          <th *ngFor="let col of cols" pTooltip="{{ col.tooltip || col.header }}">
                            {{ col.header }}
                          </th>
                        </tr>
                      </ng-template>

                      <!-- Dynamic Column Headers -->
                      <ng-container *ngFor="let col of selectedColumns" pResizableColumn>
                        <ng-container *ngIf="col.field !== 'actions'">
                          <ng-template pTemplate="header">
                            {{ col.header }}
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                            <ng-container *ngIf="!col.editable; else editableCell">
                              {{ rowData[col.field] }}
                            </ng-container>
                            <ng-template #editableCell>

                              <ng-template #inputField>
                                <input type="text" pInputText [(ngModel)]="rowData[col.field]"
                                  class="custom-table-input" />
                              </ng-template>
                            </ng-template>
                          </ng-template>
                        </ng-container>
                      </ng-container>

                      <!-- Actions Column -->
                      <ng-template pTemplate="header" let-columns>

                        <tr>
                          <th [attr.colspan]="8" class="custom-parent-header" pTooltip="DQA">

                          </th>
                          <th [attr.colspan]="6" class="custom-parent-header" pTooltip="DQA">
                            DQA
                          </th>
                          <th [attr.colspan]="" class="custom-parent-header" pTooltip="DQA">

                          </th>
                        </tr>
                        <tr>
                          <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" pResizableColumn>
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                          <th>Actions</th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                          <td *ngFor="let col of selectedColumns" [pEditableColumn]="rowData[col.field]"
                            pResizableColumn>
                            <!-- Dropdown cell -->
                            <ng-container *ngIf="col.editable; else readOnlyCell">

                              <ng-container *ngIf="col.dropdownValues; else textCell">
                                <p-cellEditor>
                                  <ng-template pTemplate="input">
                                    <p-dropdown [options]="col.dropdownValues" [(ngModel)]="rowData[col.field]"
                                      appendTo="body" styleClass="custom-dropdown"></p-dropdown>
                                    <!-- <ng-template #readonly>
                            <span>{{ rowData[col.field] }}</span>
                          </ng-template> -->
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    {{ rowData[col.field] }}
                                  </ng-template>
                                </p-cellEditor>
                              </ng-container>
                            </ng-container>

                            <!-- Read-only cell -->
                            <ng-template #readOnlyCell>
                              {{ rowData[col.field] }}
                            </ng-template>
                            <!-- Textbox cell -->
                            <ng-template #textCell>
                              <p-cellEditor>
                                <ng-template pTemplate="input">
                                  <input pInputText [(ngModel)]="rowData[col.field]" class="custom-input" />
                                  <!-- <ng-template #readonly>
                            <span>{{ rowData[col.field] }}</span>
                          </ng-template> -->
                                </ng-template>
                                <ng-template pTemplate="output">
                                  {{ rowData[col.field] }}
                                </ng-template>
                              </p-cellEditor>
                            </ng-template>
                          </td>
                          <td>

                            <button pButton icon="pi pi-save" class="p-button-text p-button-success"
                              (click)="saveDatafields(rowData)"></button>
                            <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                              (click)="deleteDAtaFields(rowData)"></button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>