.container {
    padding: 16px;
}

.left-panel {
    width: 100%;
    background-color: transparent;
}

.form-field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

mat-form-field {
    flex: 1 1 calc(25% - 16px);
    min-width: 250px;
}

@media (max-width: 768px) {
    mat-form-field {
        flex: 1 1 100%;
    }
}

.form-grid {
    display: flex;
    margin-top: 24px;
    align-items: flex-start;
    justify-content: flex-start;
}

.create-btn {
    float: left;
    width: 200px;
    min-height: 46px;
}