<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
    <section class="welcome-banner">
        <h2>Use Cases</h2>
      </section>
      <div class="system-table-container">
<table mat-table [dataSource]="userAccessList" matSort multiTemplateDataRows class="mat-elevation-z2">
    <!-- Checkbox -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Access</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.selected" [disabled]="element.isDisabled"></mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Username -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="userrole">
        <th mat-header-cell *matHeaderCellDef>User Role</th>
        <td mat-cell *matCellDef="let element">{{ element.user_role }}</td>
      </ng-container>
    
  
    <!-- Access Level Dropdown -->
    <ng-container matColumnDef="access">
      <th mat-header-cell *matHeaderCellDef>Permission</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="fill" class="small-select">
          <mat-select [(ngModel)]="element.access" [disabled]="element.isDisabled">
            <mat-option value="Edit" *ngIf="element.user_role == 'data_admin' || element.user_role == 'client_admin'">Edit</mat-option>
            <mat-option value="View">View</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['select', 'user', 'userrole', 'access']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['select', 'user', 'userrole', 'access']" [class.disabled-row]="row.isDisabled"></tr>
  </table>
</div>

<div style="text-align: right; margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="submitSharedAccess()">Submit</button>
  </div>
  
      
</main>
</div>