$color: #111c2d;

.header {
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
  justify-content: space-between;
  border-bottom: 1px solid rgb(232, 232, 232);

  .title {
    font-size: 18px;
    color: var($color);
    font-weight: 600;
  }

  .sidebar-toggle {
    font-size: 16px;
    color: var($color);

    &.tog-collapse {
      padding: 0px;
      font-size: 24px;
    }
  }

  .icon {
    color: var($color);
  }
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  margin-right: 8px;
}

.user-info {
  padding: 12px 16px;
}

.user-name {
  font-weight: 500;
}