<mat-toolbar color="secondary" class="header">
  <span class="title">DATA RISK MANAGER</span>
  <button mat-icon-button id="sidebarToggle" class="sidebar-toggle tog-collapse">☰</button>

  <span class="spacer"></span>
  <div class="rightside-action">
    <button mat-icon-button class="small-icon-button">
      <lucide-icon name="bell"></lucide-icon>
    </button>
    <button mat-icon-button class="small-icon-button" [matMenuTriggerFor]="userMenu">
      <lucide-icon name="circle-user"></lucide-icon>
    </button>
  </div>

  <!-- User Menu -->
  <mat-menu #userMenu="matMenu">
    <div class="user-info">
      <span class="user-name">{{userName}}</span>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <lucide-icon name="log-out"></lucide-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>