<div class="lineage-container">
  <div class="field-tables">
    <!-- JointJS Canvas Overlay -->
    <!-- <div #paperContainer id="paper-container" class="diagram-canvas paper-scroll"></div> -->
    <div id="paper-container" style="height: 600px; border: 1px solid #ccc; overflow: auto"></div>
  </div>
</div>
<!-- <div class="mapping-btn">
    <button mat-raised-button color="primary" (click)="saveMappings()"  >Save Mappings</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="red" (click)="saveMappings()" >Delete Mappings</button>
  
  </div> -->