$primary-color: #3e63dd;
$secondary-color: #fff;
// $secondary-color: #6c757d;
$tertiary-color: transparent;
$text-color: #fff;


// ==== BUTTONS VARIABLES ===
$btn-primary-bg: #3e63dd;
$btn-primary-color: #ffffff;

$btn-secondary-bg: transparent;
$btn-secondary-color: red;

$btn-tertiary-bg: #f8f9fa;
$btn-tertiary-color: #212529;


// Common
$font-weight: 400;

// == BORDER RADIUS SCALE ==
$radius-none: 0;
$radius-sm: 2px;
$radius-md: 4px;
$radius-lg: 8px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 24px;
$radius-full: 50%;

$border-radius: $radius-md;

$radius-scale: (
    sm: $radius-sm,
    md: $radius-md,
    lg: $radius-lg,
    xl: $radius-xl,
    2xl: $radius-2xl,
    3xl: $radius-3xl,
    full: $radius-full,
    none: $radius-none,
);


$button-sizes: (
    sm: (font-size: 12px, padding: 6px 10px, svg-size: 12px),
    md: (font-size: 14px, padding: 8px 14px, svg-size: 14px),
    lg: (font-size: 16px, padding: 10px 18px, svg-size: 16px),
    xl: (font-size: 18px, padding: 12px 22px, svg-size: 18px)
);

// Disabled button variables
$btn-disabled-opacity: 0.6 !default;
$btn-primary-disabled-bg: lighten($btn-primary-bg, 30%) !default;
$btn-primary-disabled-color: $btn-primary-color !default;

$btn-secondary-disabled-bg: transparent !default;
$btn-secondary-disabled-color: #6c757d !default;
$btn-secondary-disabled-border: #e9ecef !default;