.main-container {
  display: flex;
}

.dashboard-container {
  flex-grow: 1;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  min-width: 90px;
}

::ng-deep .ag-root-wrapper {
  border: none;
  border-radius: 0px;
}

::ng-deep .model-cell-renderer {
  display: flex;
  gap: 2px;

  button {
    border: none;
    font-size: 16px;
    background-color: transparent;
  }
}
.man {
  ::ng-deep .p-datatable .p-datatable-thead>tr>th {
      font-size: 13px;
      font-weight: 500;
      color: #323130;
      padding: 6px 8px !important;
      border-top: 1px solid #f1f5f9;
      border-bottom: 1px solid #f1f5f9;

      .p-icon {
          width: 0.66rem;
      }
  }

  ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
      padding: 0px 8px !important;
      line-height: normal;
      color: #333;
      font-size: 13px;
      border-bottom: 1px solid #f1f5f9;

      .p-button-text {
          width: 1.9rem;
          height: 1.9rem;
          border-radius: 100%;

          .pi {
              font-size: 12px;

              &.pi-pencil {
                  color: #3c3c43;
              }

              &.pi-trash {
                  color: #ff0000;
              }
          }
      }
  }
}