.main-container {
  display: flex;
}

.dashboard-container {
  flex-grow: 1;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  min-width: 90px;
}

::ng-deep .ag-root-wrapper {
  border: none;
  border-radius: 0px;
}

::ng-deep .model-cell-renderer {
  display: flex;
  gap: 2px;

  button {
    border: none;
    font-size: 16px;
    background-color: transparent;
  }
}