<!-- Header -->
<app-header></app-header>

<!-- Main Container -->
<div class="main-container">
  <!-- SideBar -->
  <app-sidebar></app-sidebar>

  <!-- Dashbaord Container -->
  <main class="dashboard-container">
    <!-- Welcome Banner -->
    <section class="welcome-banner">
      <h2>Lineage Chart</h2>
      <p>Visualize the lineages of data entities</p>
    </section>

    <div class="chart-container chart-grid">
      <!-- Chart 0 - Line -->
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptionsLine"
        style="width: 100%; height: 400px; display: block"
      >
      </highcharts-chart>

      <!-- Chart 1 - Column  -->
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptionsOne"
        style="width: 100%; height: 400px; display: block"
      ></highcharts-chart>

      <!-- Chart 2 - 3D -->
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="threeDChartOptions"
        style="width: 100%; height: 400px; display: block"
      ></highcharts-chart>

      <!-- Chart 3 - Stock Line -->
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="stockChartOptions"
        style="width: 100%; height: 400px; display: block"
      ></highcharts-chart>
    </div>
  </main>
</div>
