<div class="lineage-container">
  <div class="mapping-btn">
    <button mat-raised-button color="primary" (click)="saveMappings()"  >Save Mappings</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="red" (click)="saveMappings()" >Delete Mappings</button>
  
  </div>
    <div class="field-tables">
      
      
        <!-- JointJS Canvas Overlay -->
    <!-- <div #paperContainer id="paper-container" class="diagram-canvas paper-scroll"></div> -->
    <!-- <div #paperContainer id="paper-container" class="paper-wrapper" ></div> -->
    <div class="paper-wrapper">
      <div id="paper-container"></div>
    </div>
    

  
    </div>
  
  </div>

