<div class="lineage-container">
    <div class="field-tables">
      
      
        <!-- JointJS Canvas Overlay -->
    <div #paperContainer id="paper-container" class="diagram-canvas paper-scroll"></div>
  
    </div>
  
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="saveMappings()" class="mapping-btn" >Save Mappings</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="red" (click)="saveMappings()" class="mapping-btn" >Delete Mappings</button>
  
  </div>
