<app-header></app-header>
<div class="main-container">
  <app-sidebar></app-sidebar>
  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>Sankey Chart</h2>
      <p>Visualize the lineages of data entities</p>
    </section>

    <div class="chart-container chart-grid">
      <!-- TreeGraph Chart -->
      <!-- <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="TreeGraphOptions"
        style="width: 100%; height: 400px; display: block"
      >
      </highcharts-chart> -->
    </div>
  </main>
</div>
