<div class="main-container">

  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ systemId > 0 ? 'Edit System' : 'Add System' }}
        <button (click)="onBackToLineage()" class="p-r-10" *ngIf="isBacktolineage">
           Back to lineage
          </button>
      </h2>
        
    </section>
    <mat-card>
      <div class="overlay-loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <div class="container">
        <div class="systemedit-container">
          <div class="left-panel">
            <div class="usecaseid-container" *ngIf="systemId>0">
              <div style="display: flex;gap: 1rem;align-items: center;">
                <p>Usecase ID : {{useCaseId}}</p>
                <p>Usecase Name : {{useCaseName}}</p>
              </div>

              <span class="update-link">
                <button (click)="selectUseCase('usecase')">
                  Update Use Case
                </button>
              </span>

            </div>
            <form [formGroup]="systemForm">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>System Name</mat-label>
                <input matInput formControlName="system_name" />
                <mat-error *ngIf="systemForm.get('system_name')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>LeanIX ID</mat-label>
                <input matInput formControlName="leanix_id" />
                <mat-error *ngIf="systemForm.get('leanix_id')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" />
                <mat-error *ngIf="systemForm.get('description')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="owner" />
                <mat-error *ngIf="systemForm.get('owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="owner_email" />
                <mat-error *ngIf="systemForm.get('owner_email')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="systemForm.get('owner_email')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Version</mat-label>
                <input matInput formControlName="version_number" />
                <mat-error *ngIf="systemForm.get('version_number')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="systemForm.get('status')?.hasError('required')">Required</mat-error>
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Status</mat-label>
                <input matInput formControlName="status" />
              </mat-form-field> -->
            </form>
            <div class="form-grid">
              <button (click)="onUpdate()">Save</button>
            </div>
          </div>

          <div class="right-panel" *ngIf="systemId>0">
            <!-- TABS CONTAINER -->
            <div class="tab-container">
              <button [ngClass]="{ 'inverse': activeView === 'interfaces' }" (click)="addInbound('interfaces')">
                Interfaces
              </button>            

              <button [ngClass]="{ 'inverse': activeView === 'input' }" (click)="addInputDatafields('input')">
                Input DataFields
              </button>

              <button [ngClass]="{ 'inverse': activeView === 'output' }" (click)="addDatafields('output')">
                Output DataFields
              </button>

              <button [ngClass]="{ 'inverse': activeView === 'mapping' }" (click)="sysMapping('mapping')">
                System Mapping
              </button>

              <!-- <button [ngClass]="{ 'inverse': activeView === 'usecase', 'primary': activeView !== 'usecase' }"
                (click)="selectUseCase('usecase')">
                Update Use Case
              </button> -->
            </div>

            <div class="datafields-table" *ngIf="showInputDataFields">
              <div class="datafields-header">
                <div class="checkbox-title">
                  <button (click)="addRow()">Add Row</button>
                  <label><input type="checkbox" [(ngModel)]="showGlobalQualityRiskGridInbound"
                      (change)="toggleInboundGrid($event)" />
                    Set Global Quality Risk
                  </label>
                </div>


                <!-- Conditional rendering of the AG Grid -->
                <!-- <div class="table-container">
                  <div class="system-table-container">
                    <div class="grid-table"> -->
                <div style="margin: 10px">
                  <ag-grid-angular class="ag-theme-alpine responsive-grid" *ngIf="showGlobalQualityRiskGridInbound"
                    style="width: 100%;height: 100%;" [rowData]="rowDataInboundDQA" [columnDefs]="columnDefsInboundDQA"
                    [defaultColDef]="defaultColDef" (gridReady)="onInboundGridReady($event)" rowSelection="single"
                    [domLayout]="'autoHeight'">
                  </ag-grid-angular>
                </div>
                <!-- </div>
                  </div>
                </div> -->
              </div>

              <!-- <div class="table-container">
                <div class="system-table-container">
                  <div class="grid-table"> -->
              <div style="margin: 10px;">
                <!-- <ag-grid-angular class="ag-theme-alpine responsive-grid" style="width: 100%; height: 400px"
                  [rowData]="rowDataInput" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                  (cellValueChanged)="inputCellValueChanged($event)" rowSelection="single"
                  (rowClicked)="onRowClick($event)" (gridReady)="onGridReady($event)">
                </ag-grid-angular> -->
                

                
            <p-toolbar>
              <div class="p-toolbar-group-left">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" 
                  #globalFilter
                  (input)="dt.filterGlobal(globalFilter.value, 'contains')"
                  placeholder="Global Search" />
                </span>
              </div>
            
              <div class="p-toolbar-group-right">
                <p-multiSelect 
                  [options]="cols" 
                  [(ngModel)]="selectedColumns" 
                  optionLabel="header"
                  placeholder="Choose Columns" 
                  display="chip">
                </p-multiSelect>
              </div>
            </p-toolbar>
            
            <p-table
              #dt
              [value]="rowDataInput"
              [paginator]="true"
              [rows]="10"
              [resizableColumns]="true"
              [globalFilterFields]="globalFilterFields"
              [rowsPerPageOptions]="[10,25,50]"
              [responsiveLayout]="'scroll'"
              sortMode="multiple"
              [showCurrentPageReport]="true"
              editMode="cell"
              resizableColumns="true"
              columnResizeMode="fit"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              styleClass="p-datatable-gridlines p-datatable-sm"
              class="p-dense"
            >

             <!-- Header Section -->
  <ng-template pTemplate="header">
    <!-- Parent Header -->
    <tr>
      <th [attr.colspan]="cols.length" class="custom-parent-header" pTooltip="DQA">
        DQA
      </th>
    </tr>

    <!-- Child Headers -->
    <tr>
      <th *ngFor="let col of cols" pTooltip="{{ col.tooltip || col.header }}">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

              <!-- Dynamic Column Headers -->
              <ng-container *ngFor="let col of selectedColumns" pResizableColumn>
                <ng-container *ngIf="col.field !== 'actions'">
                  <ng-template pTemplate="header">
                    {{ col.header }}
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <ng-container *ngIf="!col.editable; else editableCell">
                      {{ rowData[col.field] }}
                    </ng-container>
                    <ng-template #editableCell>
                  
                      <ng-template #inputField>
                        <input 
                          type="text" 
                          pInputText 
                          [(ngModel)]="rowData[col.field]"
                          class="custom-table-input"
                        />
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-container>
              </ng-container>
            
              <!-- Actions Column -->
              <ng-template pTemplate="header" let-columns>

                 <tr>
                  <th [attr.colspan]="8" class="custom-parent-header" pTooltip="DQA">
                    
                  </th>
                  <th [attr.colspan]="6" class="custom-parent-header" pTooltip="DQA">
                    DQA
                  </th>
                  <th [attr.colspan]="" class="custom-parent-header" pTooltip="DQA">
                    
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" pResizableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th>Actions</th>
                </tr>
              </ng-template>
            
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of selectedColumns" [pEditableColumn]="rowData[col.field]" pResizableColumn>
                    <!-- Dropdown cell -->
                      <ng-container *ngIf="col.dropdownValues; else textCell">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown
                              [options]="col.dropdownValues"
                              [(ngModel)]="rowData[col.field]"
                              appendTo="body"
                              *ngIf="isCellEditable(col, rowData); else readonly"

                              styleClass="custom-dropdown"
                            ></p-dropdown>
                            <ng-template #readonly>
                              <span>{{ rowData[col.field] }}</span>
                            </ng-template>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- Textbox cell -->
                      <ng-template #textCell>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText [(ngModel)]="rowData[col.field]" class="custom-input" 
                            *ngIf="isCellEditable(col, rowData); else readonly"
                            />
                            <ng-template #readonly>
                              <span>{{ rowData[col.field] }}</span>
                            </ng-template>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-template>
                  </td>
                  <td>
                    
                    <button pButton icon="pi pi-save" class="p-button-text p-button-success" (click)="saveDatafields(rowData)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="deleteDAtaFields(rowData)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
              </div>
              <!-- </div>
                </div>
              </div> -->
            </div>

            <!-- Information Box -->
            <div style="height: 100%;display: flex;gap: 1rem;padding: 10px;">
              <div class="info-box-table" *ngIf="showInbound">
                <div class="datafields-header">
                  <button (click)="addInterface()">Add Inbound Interface</button>
                </div>
                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px;" [rowData]="rowDataInbound"
                  [columnDefs]="inboundColumnDefs" [defaultColDef]="defaultColDef"
                  (cellValueChanged)="inboundOnCellValueChanged($event)" rowSelection="single">
                </ag-grid-angular>
              </div>

              <div class="datafields-table" *ngIf="showDataFields" style="width: 100%;">
                <div class="checkbox-title">
                  <label>
                    <input type="checkbox" [(ngModel)]="showGlobalQualityRiskGridOutbound"
                      (change)="toggleOutboundGrid($event)" />
                    Set Global Quality Risk
                  </label>
                </div>

                <ag-grid-angular *ngIf="showGlobalQualityRiskGridOutbound" class="ag-theme-alpine"
                  style="width: 100%; height: 180px; margin-top: 10px;" [rowData]="rowDataoutboundDQA"
                  [columnDefs]="columnDefsOoutboundDQA" [defaultColDef]="defaultColDef"
                  (gridReady)="onOutboundGridReady($event)" rowSelection="single">
                </ag-grid-angular>

                <div style="margin-top: 10px">
                  <!-- <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px;" [rowData]="rowData"
                    [columnDefs]="columnDefsOutbound" [defaultColDef]="defaultColDef"
                    (cellValueChanged)="onCellValueChanged($event)" rowSelection="single">
                  </ag-grid-angular> -->



                        
            <p-toolbar>
              <div class="p-toolbar-group-left">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" 
                  #globalFilter
                  (input)="dt.filterGlobal(globalFilter.value, 'contains')"
                  placeholder="Global Search" />
                </span>
              </div>
            
              <div class="p-toolbar-group-right">
                <p-multiSelect 
                  [options]="cols" 
                  [(ngModel)]="selectedColumns" 
                  optionLabel="header"
                  placeholder="Choose Columns" 
                  display="chip">
                </p-multiSelect>
              </div>
            </p-toolbar>
            
            <p-table
              #dt
              [value]="rowData"
              [paginator]="true"
              [rows]="10"
              [resizableColumns]="true"
              [globalFilterFields]="globalFilterFields"
              [rowsPerPageOptions]="[10,25,50]"
              [responsiveLayout]="'scroll'"
              sortMode="multiple"
              [showCurrentPageReport]="true"
              editMode="cell"
              resizableColumns="true"
              columnResizeMode="fit"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              styleClass="p-datatable-gridlines p-datatable-sm"
              class="p-dense"
            >

             <!-- Header Section -->
  <ng-template pTemplate="header">
    <!-- Parent Header -->
    <tr>
      <th [attr.colspan]="cols.length" class="custom-parent-header" pTooltip="DQA">
        DQA
      </th>
    </tr>

    <!-- Child Headers -->
    <tr>
      <th *ngFor="let col of cols" pTooltip="{{ col.tooltip || col.header }}">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

              <!-- Dynamic Column Headers -->
              <ng-container *ngFor="let col of selectedColumns" pResizableColumn>
                <ng-container *ngIf="col.field !== 'actions'">
                  <ng-template pTemplate="header">
                    {{ col.header }}
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData>
                    <ng-container *ngIf="!col.editable; else editableCell">
                      {{ rowData[col.field] }}
                    </ng-container>
                    <ng-template #editableCell>
                  
                      <ng-template #inputField>
                        <input 
                          type="text" 
                          pInputText 
                          [(ngModel)]="rowData[col.field]"
                          class="custom-table-input"
                        />
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </ng-container>
              </ng-container>
            
              <!-- Actions Column -->
              <ng-template pTemplate="header" let-columns>

                 <tr>
                  <th [attr.colspan]="8" class="custom-parent-header" pTooltip="DQA">
                    
                  </th>
                  <th [attr.colspan]="6" class="custom-parent-header" pTooltip="DQA">
                    DQA
                  </th>
                  <th [attr.colspan]="" class="custom-parent-header" pTooltip="DQA">
                    
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" pResizableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th>Actions</th>
                </tr>
              </ng-template>
            
              <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of selectedColumns" [pEditableColumn]="rowData[col.field]" pResizableColumn>
                    <!-- Dropdown cell -->
                      <ng-container *ngIf="col.dropdownValues; else textCell">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <p-dropdown
                              [options]="col.dropdownValues"
                              [(ngModel)]="rowData[col.field]"
                              appendTo="body"
                              *ngIf="isCellEditableOutputDD(col, rowData); else readonly"

                              styleClass="custom-dropdown"
                            ></p-dropdown>
                            <ng-template #readonly>
                              <span>{{ rowData[col.field] }}</span>
                            </ng-template>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- Textbox cell -->
                      <ng-template #textCell>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText [(ngModel)]="rowData[col.field]" class="custom-input" 
                            *ngIf="isCellEditableOutputInput(col, rowData); else readonly"
                            />
                            <ng-template #readonly>
                              <span>{{ rowData[col.field] }}</span>
                            </ng-template>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.field] }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-template>
                  </td>
                  <td>
                    
                    <button pButton icon="pi pi-save" class="p-button-text p-button-success" (click)="saveDatafields(rowData)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="deleteDAtaFields(rowData)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
                </div>
              </div>

              <div class="info-box-table" *ngIf="showoutbound">
                <div class="datafields-header">
                  <button (click)="addOutInterface()">Add Outbound Interface</button>
                  &nbsp;&nbsp;&nbsp;
                  <!-- <button (click)="addOutTarget()" class="add-btn">Add Target</button> -->
                </div>
                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px;" [rowData]="rowDataOutbound"
                  [columnDefs]="outBoundColumnDefs" [defaultColDef]="defaultColDef"
                  (cellValueChanged)="outboundOnCellValueChanged($event)" rowSelection="single">
                </ag-grid-angular>
                <!-- <ag-grid-angular
      class="ag-theme-alpine"
      style="width: 100%; height: 200px;"
      [rowData]="rowDataOutboundTarget"
      [columnDefs]="outBoundTargetColumnDefs"
      [defaultColDef]="defaultColDef"
      (cellValueChanged)="outboundTaregtOnCellValueChanged($event)"
      rowSelection="single"
      >
      </ag-grid-angular> -->
              </div>
              <div class="lineage-wrapper" *ngIf="showsystemMapping">
                <div class="tables-wrapper">
                  <app-create-lineage [inboundFields]="inboundFields" [outboundFields]="outboundFields"
                    [systemId]="systemId"></app-create-lineage>
                  <!-- <app-create-lineage-new
                  [inboundFields]="inboundFields"
                [outboundFields]="outboundFields"
                [systemId]="systemId"
                ></app-create-lineage-new> -->
                </div>
              </div>
            </div>

            <ng-template #useCasePopup>
              <h2 mat-dialog-title>Select Use Case</h2>
              <mat-dialog-content>
                <div class="popup-box row">

                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded" style="width: 100%;">
                      <mat-label>Select Use Case</mat-label>
                      <mat-select [(ngModel)]="useCaseModel">
                        <mat-option *ngFor="let uc of useCases" [value]="uc.use_case_id + '|' + uc.use_case_name">
                          {{ uc.use_case_name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="confirmUseCase()"
                      style="height: 43px; margin-top: 6px;">Submit</button>

                    <!-- <button mat-raised-button color="primary" style="height: 43px; margin-top: 6px;margin-left: 6px;">Cancel</button> -->

                    <!-- <button (click)="onCloseBuilder()">Cancel</button> -->

                  </div>
                </div>
              </mat-dialog-content>
            </ng-template>
            <!-- <div class="datafields-header">
     
      <button (click)="addRow()" class="add-btn">Add Row</button>

    </div> -->
          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>