
.mapping-btn button {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #007bff;

  &.delete-btn {
    background-color: #dc3545;
     margin-left: 10px;
  }
}
.kanban {
    width: 1100px;
    height: 100%;
    margin: 5px auto;
    display: block;
    position: relative;

    .joint-paper {
        border: 1px solid #E2E2E2;

        svg {
            overflow: visible;
        }

        .joint-tool {
            circle {
                fill: white;
                stroke: #d3d3d3;
            }

            &[data-tool-name="remove"] path {
                fill: #333;
                stroke: #333;
                stroke-width: 2;
            }

            &[data-tool-name="connect"] path {
                fill: #333;
            }
        }

        .highlighter-selection rect:first-of-type {
            stroke: #333;
            stroke-width: 2;
        }

        .highlighter-connection rect:first-of-type {
            stroke: #F93943;
            stroke-width: 2;
        }

        .joint-type-kanban-task {
            cursor: grab;
        }

        .joint-type-kanban-addbutton {
            cursor: pointer;
        }

        .stack-layout-ghost {
            cursor: grabbing;
        }
    }
}
