.main-container {
  display: flex;
}

.dashboard-container {
  flex-grow: 1;
}

.user-list-container {
  max-width: 100%;
  margin: 0px auto;
  width: calc(100% - 2rem);
}

.userlist-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(24, 29, 29, 0.15);

  ::ng-deep .mat-mdc-table {
    box-shadow: none;
    background-color: transparent !important;
  }

  .paginator-container {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

::ng-deep .mat-mdc-paginator-page-size-label {
  min-width: 90px;
}