<div class="main-container">
  <main class="dashboard-container">
    <section class="welcome-banner create">
      <h2>User List</h2>
      <button class="btn btn--primary" (click)="addUser()">
        <i class="fa nav-icon fa-user" style="margin-right: 4px;"></i>
        Create User
      </button>
    </section>

    <div class="user-list-container">
      <div class="search-container">
        <mat-form-field appearance="outline" class="search-box">
          <mat-label>Search Users</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search by username or role" />
        </mat-form-field>
      </div>

      <div class="userlist-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="userRole">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let user"> {{user.userRole}} </td>
          </ng-container>


          <!-- Add actions column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let user">
              <!-- <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button> -->
              <button mat-icon-button (click)="deleteUser(user.username)" [disabled]="!canAccess('del_usr')"
                style="display: flex;align-items: center;justify-content: center;">
                <mat-icon style="color: #c10007;font-size: 18px;">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="paginator-container">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

      </div>
    </div>
  </main>
</div>