<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
    <section class="welcome-banner">
        <h2>Use Cases</h2>
      </section>
      <div class="system-table-container">
        <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2"> -->
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z2">

      
          <!-- Checkbox Column -->
          <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container> -->
          <ng-container matColumnDef="usecaseid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Use Case ID</th>
            <td mat-cell *matCellDef="let row">{{ row.use_case_id }}</td>
          </ng-container>
      
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.use_case_name }}</td>
          </ng-container>
      
          <!-- Service Quality -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{ row.use_case_description }}</td>
          </ng-container>

            <!-- Owner -->
            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
              <td mat-cell *matCellDef="let row">
                <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
                {{ row.use_case_owner }}
              </td>
            </ng-container>
  
             <!-- Owner Email -->
             <ng-container matColumnDef="owner_email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Email</th>
              <td mat-cell *matCellDef="let row">
                <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
                {{ row.use_case_owner_email }}
              </td>
            </ng-container>

            
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td mat-cell *matCellDef="let row">{{ row.version }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{ row.status }}</td>
          </ng-container>


          <ng-container matColumnDef="last_review_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Review Date</th>
            <td mat-cell *matCellDef="let row">{{ row.last_review_date }}</td>
          </ng-container>

          <ng-container matColumnDef="reviewed_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviewed By</th>
            <td mat-cell *matCellDef="let row">{{ row.reviewed_by }}</td>
          </ng-container>

          <ng-container matColumnDef="next_review_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Next Review Date</th>
            <td mat-cell *matCellDef="let row">{{ row.next_review_date }}</td>
          </ng-container>

          <ng-container matColumnDef="reviewer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reviewer</th>
            <td mat-cell *matCellDef="let row">{{ row.reviewer }}</td>
          </ng-container>
      
        

      
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editUseCase(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUseCase(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

       
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Main row -->
  <tr mat-row 
  *matRowDef="let row; columns: displayedColumns"
  class="main-row">
</tr>


          
        </table>
      </div>
      
</main>
</div>
<!-- <router-outlet></router-outlet> child pages like builder will open here -->
