<div class="dd-container">
<div class="toolbar">
  <div class="back-icon" (click)="goBack()">
     <i class="fa fa-arrow-left" ></i>
  </div>
  <div class="toolbar-title">{{ lineages?.name }}</div>
  
  <div class="block-item" (click)="saveGraph()">Save</div>
</div>



<div class="graph-box" >
       <!-- Collapse toggle -->
    
    <div class="graph-row" >
             
        <div class="graph-col-3">
          <div class="panel-header">
            <h3 class="panel-title">Entity</h3>
           <!-- <button
              class="collapse-btn"
              type="button"
              (click)="toggleNodes()"
              [attr.aria-expanded]="!nodesCollapsed"
              [attr.aria-label]="nodesCollapsed ? 'Expand nodes panel' : 'Collapse nodes panel'"
            >
              <i *ngIf="nodesCollapsed" class="fa fa-chevron-right"></i>
              <i *ngIf="!nodesCollapsed" class="fa fa-chevron-left"></i>
            </button> -->
          </div>

          <app-nodes></app-nodes>
        </div>

        <div class="graph-col-9">

        <div #canvas class="paper-container"></div>

      </div>
    </div>
    </div>
    
  </div>