<div class="toolbar">
  <div class="back-icon" (click)="goBack()">
     <i class="fa fa-arrow-left" ></i>
  </div>
  <div class="toolbar-title">{{ lineages?.name }}</div>
  <div class="block-item" (click)="saveGraph()">Save</div>
</div>



<div class="graph-box" >
       <!-- Collapse toggle -->
       <p-splitter 
       [style]="{ height: 'auto' }" 
       styleClass="mb-5" 
       layout="vertical">
           <ng-template pTemplate>
               <div class="col flex align-items-center justify-content-center">
    <div class="graph-row">
             
        <div class="graph-col-3">
          <div class="panel-header">
            <h3 class="panel-title">Entity</h3>
           <!-- <button
              class="collapse-btn"
              type="button"
              (click)="toggleNodes()"
              [attr.aria-expanded]="!nodesCollapsed"
              [attr.aria-label]="nodesCollapsed ? 'Expand nodes panel' : 'Collapse nodes panel'"
            >
              <i *ngIf="nodesCollapsed" class="fa fa-chevron-right"></i>
              <i *ngIf="!nodesCollapsed" class="fa fa-chevron-left"></i>
            </button> -->
          </div>

          <app-nodes></app-nodes>
        </div>

        <div class="graph-col-9">

        <div #canvas class="paper-container"></div>

      </div>
    </div>
    </div>
    
    </ng-template>
          
      <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
                         <!-- PrimeNG Table -->
                         <div class="card" style="width: 100%;">
                          <h2>Field Metadata</h2>
                        
                          <!-- Column Toggle -->
                          <p-multiSelect
                            [options]="cols"
                            [(ngModel)]="selectedColumns"
                            optionLabel="header"
                            display="chip"
                            placeholder="Choose columns"
                            class="mb-3"
                          ></p-multiSelect>
                        
                          <!-- PrimeNG Table -->
                          <p-table
                  #dt
                  [value]="fields"
                  [columns]="selectedColumns"
                  [paginator]="true"
                  [rows]="5"
                  [resizableColumns]="true"
                  columnResizeMode="expand"
                  [globalFilterFields]="['fieldName','dataType','sourceName','criticality']"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                  <!-- Global Filter -->
                  <ng-template pTemplate="caption">
                    <div class="flex justify-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                          pInputText
                          type="text"
                          (input)="onGlobalFilter($event, dt)"
                          placeholder="Global Search"
                        />
                      </span>
                    </div>
                  </ng-template>
                
                  <!-- Headers with Sorting & Column Filters -->
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                    </tr>
                    <!-- <tr>
                      <th *ngFor="let col of columns">
                        <input
                          *ngIf="col.field !== 'actions'"
                          pInputText
                          type="text"
                          (input)="onColumnFilter($event, dt, col.field)"
                          placeholder="Search {{ col.header }}"
                        />
                      </th>
                    </tr> -->
                  </ng-template>
                
                  <!-- Table Body -->
                  <ng-template pTemplate="body" let-row let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns">
                        <ng-container [ngSwitch]="col.field">
                          <span *ngSwitchCase="'actions'">
                            <button
                              pButton
                              icon="pi pi-pencil"
                              class="p-button-rounded p-button-text"
                              (click)="editRow(row)"
                              pTooltip="Edit"
                            ></button>
                            <button
                              pButton
                              icon="pi pi-trash"
                              class="p-button-rounded p-button-danger p-button-text"
                              (click)="deleteRow(row)"
                              pTooltip="Delete"
                            ></button>
                          </span>
                          <span *ngSwitchDefault>{{ row[col.field] }}</span>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                
                        </div>
        </div>
        </ng-template>
</p-splitter>          


</div>