<div class="main-container">

  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ targetId > 0 ? 'Edit Target' : 'Add Target' }}
        <button (click)="onBackToLineage()" class="p-r-10" *ngIf="isBacktolineage">
           Back to lineage
          </button>
      </h2>
    </section>
    <mat-card>
      <div class="container">
        <div class="target-container">
           <div *ngIf="loader" class="overlay-loader">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="50">
              </mat-progress-spinner>
            </div>
          <!-- Left: Edit Target Form -->
          <div class="left-panel">
            <div class="usecaseid-container" *ngIf="targetId>0">
              <div style="display: flex;gap: 1rem;align-items: center;">
                <p>Usecase ID : {{useCaseId}}</p>
                <p>Usecase Name : {{useCaseName}}</p>
              </div>

              <span class="update-link">
                <button (click)="selectUseCase('usecase')">
                  Update Use Case
                </button>
              </span>
            </div>

            <form class="usecase-form" [formGroup]="targetForm">
              <div class="form-field-group">
                <!-- Your form controls for editing the target -->
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Target Name</mat-label>
                  <input matInput formControlName="target_name" />
                  <mat-error *ngIf="targetForm.get('target_name')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Quality Of Service</mat-label>
                  <mat-select formControlName="quality_of_service">
                    <mat-option *ngFor="let quality of serviceQualityOptions" [value]="quality">
                      {{ quality }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="targetForm.get('quality_of_service')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Frequency Of Update</mat-label>
                  <input matInput formControlName="frequency_of_update" (input)="onFrequencyChange()" min="1" />
                  <mat-error *ngIf="targetForm.get('frequency_of_update')?.hasError('required')">
                    Required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Schedule Of Update</mat-label>
                  <mat-select formControlName="schedule_of_update" multiple
                    (selectionChange)="onScheduleSelectionChange($event)">
                    <mat-option *ngFor="let time of timeOptions" [value]="time">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="scheduleLimitReached" style="color: red;">
                    You can only select {{ frequencyLimit }} time(s)
                  </mat-hint>
                  <mat-error *ngIf="targetForm.get('schedule_of_update')?.hasError('required')">
                    Required
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Methodology Of Transfer</mat-label>
                  <input matInput formControlName="methodology_of_transfer" />
                  <mat-error
                    *ngIf="targetForm.get('methodology_of_transfer')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Target Type</mat-label>
                  <!-- <input matInput formControlName="target_type" /> -->
                  <mat-select formControlName="target_type">
                    <mat-option *ngFor="let option of targetTypeOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="targetForm.get('target_type')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Version</mat-label>
                  <input matInput formControlName="target_version_number" />
                  <mat-error *ngIf="targetForm.get('target_version_number')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="target_status">
                    <mat-option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="targetForm.get('target_status')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Owner</mat-label>
                  <input matInput formControlName="target_owner" />
                  <mat-error *ngIf="targetForm.get('target_owner')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Owner Email</mat-label>
                  <input matInput formControlName="target_owner_email" />
                  <mat-error *ngIf="targetForm.get('target_owner_email')?.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="targetForm.get('target_owner_email')?.hasError('email')">Invalid email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Target Entity</mat-label>
                  <input matInput formControlName="target_entity" />
                  <mat-error *ngIf="targetForm.get('target_entity')?.hasError('required')">Required</mat-error>
                </mat-form-field>


              </div>
              <div class="form-grid">
                <button (click)="onUpdate()">Save</button>
              </div>
            </form>
          </div>

          <!-- Right: DataFields Table -->
          <div class="right-panel" *ngIf="targetId>0">
            <!-- TABS CONTAINER -->
            <div class="tab-container">
              <button [ngClass]="{ 'inverse': activeView == 'DataFields' }" (click)="openTab('DataFields')">
                Data fields
              </button>

              <button [ngClass]="{ 'inverse': activeView == 'DQAReport' }" (click)="openTab('DQAReport')">
                Build DQA Report
              </button>
            </div>

            <div class="datafields-table">
              <div class="datafields-header" [hidden]="!showDataFields">
                <p-toolbar>
                  <div class="p-toolbar-group-left">                   
                    <div class="p-r-10">
                      <button pButton label="Add New Field" icon="pi pi-plus" (click)="openAddDialog()"></button>
                    </div>
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" #globalFilter
                        (input)="dt.filterGlobal(globalFilter.value, 'contains')" placeholder="Global Search" />
                    </span>
                  </div>

                  <div class="p-toolbar-group-right">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                      placeholder="Choose Columns" display="chip">
                    </p-multiSelect>
                  </div>
                </p-toolbar>

                <p-table #dt [value]="rowData" [paginator]="true" [rows]="10" [resizableColumns]="true"
                  [rowsPerPageOptions]="[10, 25, 50]" [responsiveLayout]="'scroll'" sortMode="multiple"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  styleClass="p-datatable-gridlines p-datatable-sm" class="p-dense">
                  <!-- Header -->
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th>Actions</th>
                    </tr>
                  </ng-template>

                  <!-- Body -->
                  <ng-template pTemplate="body" let-rowData>
                    <tr>
                      <td *ngFor="let col of selectedColumns">
                        {{ rowData[col.field] }}
                      </td>
                      <td>
                        <button pButton icon="pi pi-pencil" class="p-button-text"
                          (click)="openEditDialog(rowData)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                          (click)="confirmDelete(rowData)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

                <!-- Dialog Form -->
                <p-dialog header="{{ isEditMode ? 'Edit Field' : 'Add New Field' }}" [(visible)]="showDialog"
                  [modal]="true" [closable]="true" [style]="{ width: '500px' }">
                  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <div class="p-fluid">
                      <!-- <div class="p-field">
                        <label>Field ID<span class="required">*</span></label>
                        <input type="text" pInputText formControlName="field_id" />
                      </div> -->

                      <div class="p-field">
                        <label>Field No.<span class="required">*</span></label>
                        <input type="text" pInputText formControlName="field_no" />
                        <small class="p-error"
                          *ngIf="formGroup.get('field_no')?.invalid && formGroup.get('field_no')?.touched">
                          Field No. is required and must be numeric
                        </small>
                      </div>

                      <div class="p-field">
                        <label>Field Name<span class="required">*</span></label>
                        <input type="text" pInputText formControlName="field_name" />
                        <small class="p-error"
                          *ngIf="formGroup.get('field_name')?.invalid && formGroup.get('field_name')?.touched">
                          Field Name is required
                        </small>
                      </div>

                      <div class="p-field">
                        <label>Description<span class="required">*</span></label>
                        <input type="text" pInputText formControlName="field_description" />
                        <small class="p-error"
                          *ngIf="formGroup.get('field_description')?.invalid && formGroup.get('field_description')?.touched">
                          Description is required
                        </small>
                      </div>

                      <div class="p-field">
                        <label>Length<span class="required">*</span></label>
                        <input type="text" pInputText formControlName="field_length" />
                        <small class="p-error"
                          *ngIf="formGroup.get('field_length')?.invalid && formGroup.get('field_length')?.touched">
                          Field No. is required and must be numeric
                        </small>
                      </div>

                      <div class="p-field">
                        <label>Data Type<span class="required">*</span></label>
                        <p-dropdown [options]="dataTypes" optionLabel="label" optionValue="value"
                          formControlName="data_type" placeholder="Select Data Type"></p-dropdown>
                        <small class="p-error"
                          *ngIf="formGroup.get('data_type')?.invalid && formGroup.get('data_type')?.touched">
                          Data Type is required
                        </small>
                      </div>

                      <div class="p-field">
                        <label>Criticality<span class="required">*</span></label>
                        <p-dropdown [options]="criticalityOptions" optionLabel="label" optionValue="value"
                          formControlName="criticality" placeholder="Select Criticality"></p-dropdown>
                        <small class="p-error"
                          *ngIf="formGroup.get('criticality')?.invalid && formGroup.get('criticality')?.touched">
                          Criticality is required
                        </small>
                      </div>
                    </div>

                    <div class="p-dialog-footer p-mt-3">
                      <button pButton type="button" label="Cancel" (click)="showDialog = false"></button>
                      <button pButton type="submit" label="{{ isEditMode ? 'Update' : 'Save' }}"
                        class="p-button-success" [disabled]="formGroup.invalid"></button>
                    </div>
                  </form>
                </p-dialog>
                <!-- delete confirmation dialog -->
                <p-dialog header="Confirm Delete" [(visible)]="showDeleteDialog" [modal]="true" [closable]="false">
                  <p>Are you sure you want to delete <strong>{{ selectedRow?.field_name }}</strong>?</p>
                  <p-footer>
                    <button pButton label="No" class="p-button-danger p-r-10" (click)="showDeleteDialog = false"></button>
                    <button pButton label="Yes" class="p-button-success " (click)="deleteRow()"></button>
                    
                  </p-footer>
                </p-dialog>
              </div>
              <div [hidden]="!showReport">
                <div class="report-builder">
                  <app-report-builder [visible]="reportVisible" [position]="reportPosition" [gridRows]="rowData"
                    (build)="onBuildReport($event)" (close)="onCloseBuilder()">
                  </app-report-builder>
                </div>
              </div>
            </div>
          </div>

          <ng-template #useCasePopup>
              <h2 mat-dialog-title>Select Use Case</h2>
              <mat-dialog-content>
                <div class="popup-box row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded" style="width: 100%;">
                      <mat-label>Select Use Case</mat-label>
                      <mat-select [(ngModel)]="useCaseModel">
                        <mat-option *ngFor="let uc of useCases" [value]="uc.use_case_id + '|' + uc.use_case_name">
                          {{ uc.use_case_name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="confirmUseCase()"
                      style="height: 43px; margin-top: 6px;">Submit</button>
                    </div>
                </div>
              </mat-dialog-content>
            </ng-template>
        </div>
      </div>
    </mat-card>
  </main>
</div>