// .app-root { display:flex; gap:16px; padding:16px; height:100vh; box-sizing:border-box; }
// .left-panel { width:300px; background:#f0f0f0; padding:12px; border-radius:6px; }
// .right-panel { flex:1; position:relative; }
// .add-row { margin-bottom:8px; }

// /* ensure report builder overlays correctly (report builder has absolute positioning) */

// .report-box {
//     position: absolute;
//     background: white;
//     padding: 12px;
//     border: 1px solid #ccc;
//     box-shadow: 0 2px 8px rgba(0,0,0,0.2);
//     z-index: 100;
//     width: 220px;
//   }
// .aggrid{
//   width: 56%;
//   float: left;
// }
// .report-builder {
//       position: relative;
//       width: 40%;
//       float: left;
//       background: #f7f7f7;
//       border: 1px solid #777;
//       border-radius: 6px;
//       padding: 12px;
//       box-shadow: 0 6px 18px rgba(0,0,0,0.25);
//       z-index: 0;
//       margin-left: 20px;
//     }


.datafields-container {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    height: 720px;
    flex-direction: row;
}

/* Grid takes full width initially */
.aggrid {
    flex: 1;
    transition: flex 0.3s ease;
}

/* When report is open → grid shrinks */
.aggrid.shrinked {
    flex: 0.6;
    /* 60% width for grid */
}

.report-builder {
    flex: 0.4;
    /* 40% width for report */
    // border-left: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;

}


/* styles.css */
// .popup-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0,0,0,0.5);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .popup-box {
//   background: #fff;
//   padding: 20px;
//   border-radius: 8px;
//   width: 550px;
// }

.mat-mdc-card {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
    min-height: calc(100% - 100px);
    border: 1px solid rgba(24, 29, 29, 0.15);
}

.target-container {
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .left-panel {
        gap: 0px;
        width: 100%;
        padding: 0px;
        background-color: transparent;

        .usecase-form {
            padding: 0rem;
            max-width: 1200px;
            border-radius: .5rem;

            ::ng-deep .mdc-text-field--outlined .mdc-floating-label {
                top: 22px;
                font-size: 14px;
            }
        }

        .usecaseid-container {
            gap: 2rem;
            width: 100%;
            display: flex;
            padding: .1rem;
            border-radius: 2px;
            margin-bottom: 1.3rem;
            // border: 1px solid #e9f2fc;
            justify-content: space-between;
            // background: rgb(245, 250, 255);

            p {
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .right-panel {
        width: 100%;
        padding: 0px;
        overflow: hidden;
        min-height: 100px;
        background-color: #fff;
        border: 1px solid rgb(232, 232, 232);

        .tab-container {
            background: rgb(245, 250, 255);
            border-bottom: 1px solid rgb(232, 232, 232);

            button {
                border: none;
                font-size: 13px;
                box-shadow: none;
                padding: .6rem 1rem;
                background: rgb(245, 250, 255);
            }

            .inverse {
                color: rgb(62, 99, 221) !important;
            }
        }

        ::ng-deep .ag-root-wrapper {
            border: none;
        }
    }
}

// === BUTTON STYLE ====
.form-grid {
    margin-top: 4px;
    display: inline;
    padding: 0rem 6px;

    button {
        border: none;
        color: white;
        font-size: 12px;
        box-shadow: none;
        width: fit-content;
        border-radius: 4px;
        padding: .6rem 1rem;
        background-color: rgb(62, 99, 221);

        &:hover {
            background-color: rgb(58, 92, 204);
        }
    }
}


// .info-box-table {
//     flex: 1 1 auto;
//     overflow-x: auto;

//     .datafields-header {
//         margin: 0px;

//         button {
//             // border: none;
//             color: white;
//             font-size: 12px;
//             box-shadow: none;
//             width: fit-content;
//             border-radius: 4px;
//             margin-bottom: 8px;
//             padding: .4rem .6rem;
//             color: rgb(62, 99, 221);
//             background-color: transparent;
//             border: 1px solid rgb(62, 99, 221);

//             &:hover {
//                 color: #ffffff;
//                 background-color: rgb(58, 92, 204);
//             }
//         }
//     }
// }


::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    padding: 2px 8px !important;
    line-height: 0.5 rem !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    padding: 6px 8px !important;
}

// ==== TABLE GRID STYLE ====
.man {
    ::ng-deep .p-datatable .p-datatable-thead>tr>th {
        font-size: 13px;
        font-weight: 500;
        color: #323130;
        padding: 6px 8px !important;
        border-top: 1px solid #f1f5f9;
        border-bottom: 1px solid #f1f5f9;

        .p-icon {
            width: 0.66rem;
        }
    }

    ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0px 8px !important;
        line-height: normal;
        color: #333;
        font-size: 13px;
        border-bottom: 1px solid #f1f5f9;

        .p-button-text {
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 100%;

            .pi {
                font-size: 12px;

                &.pi-pencil {
                    color: #3c3c43;
                }

                &.pi-trash {
                    color: #ff0000;
                }
            }
        }

    }
}

.required {
    color: red;
    margin-left: 3px;
}

.p-field {
    margin-bottom: 1rem;
}