<!-- Header -->
<app-header></app-header>

<!-- Main Container -->
<div class="main-container">
  <!-- SideBar -->
  <app-sidebar></app-sidebar>

  <!-- Dashboard Container -->
  <main class="dashboard-container">
    <!-- Welcome Banner -->
    <section class="welcome-banner">
      <h2>Lineage Chart</h2>
      <p>Visualize the lineages of data entities</p>
    </section>

    <!-- Chart Grid -->
    <div class="chart-container chart-grid">
      <h1>
        Please route to:
        <br>
        <strong>http://localhost:4203/lineages/lineage-chart</strong> 
        <br>
        or
        <br>
        <strong>http://localhost:4203/lineages/lineage-tree</strong>
        <br>
        or
        <br>
        <strong>http://localhost:4203/lineages/lineage-treegraph</strong>
        <br><br><hr>
        <!-- Navigation Buttons -->
        <button routerLink="/lineages/lineage-chart">Go to Lineage Lines Charts</button>
        <button routerLink="/lineages/lineage-tree">Go to Lineage Others Charts</button>
        <br><hr>
        <button routerLink="/lineages/lineage-sankey">Sankey</button>
        <button routerLink="/lineages/lineage-treegraph">TreeGraph</button>
        <button routerLink="/lineages/lineage-treegraphbox">TreeGraph Box</button>
        <button routerLink="/lineages/lineage-echarts-sankey">ECharts Sankey</button>
      </h1>
    </div>
  </main>
</div>
