/* sidebar.component.scss */
.active-link {
  background-color: #f1f5f9;
  font-weight: bold;
}

mat-nav-list {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  .mdc-list-item__primary-text {
    background-color: green;
  }
}

.nav-icon,
.nav-label {
  // color: red;
}

.custom-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.fa .fa-plus {
  font-size: 14px;
  color: blue;
  margin-left: -2px;
  position: relative;
  top: -3px;
}