<!-- <mat-nav-list>
  <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="active-link">
    <i class="fa" [ngClass]="item.icon" aria-hidden="true" style="font-size: 22px; color: #1a237e;"></i>
    <i *ngIf="item.subIcon" class="fa" [ngClass]="item.subIcon" aria-hidden="true" style="margin-left: 5px;"></i>
    {{ item.label }}
  </a>
</mat-nav-list> -->
<mat-nav-list *ngIf="!isLoading">
  <ng-container *ngFor="let item of navItems">
    <a mat-list-item
       [routerLink]="item.route" 
       routerLinkActive="active-link"
       *ngIf="canAccess(item.feature)" 
       >
      <i class="fa" [ngClass]="item.icon" aria-hidden="true" style="font-size: 22px; color: #1a237e;"></i>
      <i *ngIf="item.subIcon" class="fa" [ngClass]="item.subIcon" aria-hidden="true" style="margin-left: 5px;"></i>
      {{ item.label }}
    </a>
  </ng-container>
</mat-nav-list>


