<div class="main-container">
  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ interfaceId > 0 ? 'Edit Interface' : 'Add Interface' }}
      </h2>
    </section>
    <mat-card>
      <div class="overlay-loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <div class="container">
        <!-- Left: Edit Interface Form -->
        <div class="interface-container">
          <div class="left-panel">
            <!-- <h2>Interface</h2> -->
            <form [formGroup]="interfaceForm">
              <!-- Your form controls for editing the interface -->
              <mat-form-field appearance="outline" class="full-width" class="small-form-field">
                <mat-label>Interface Name</mat-label>
                <input matInput formControlName="interface_name" />
                <mat-error *ngIf="interfaceForm.get('interface_name')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Quality Of Service</mat-label>
                <mat-select formControlName="quality_of_service" (selectionChange)="toggleFieldsBasedOnQoS($event)">
                  <mat-option *ngFor="let quality of serviceQualityOptions" [value]="quality">
                    {{ quality }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="interfaceForm.get('quality_of_service')?.hasError('required')">Required</mat-error>
              </mat-form-field>
              <!--         

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Quality Of Service</mat-label>
              <input matInput formControlName="quality_of_service" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Frequency Of Update</mat-label>
                <input matInput formControlName="frequency_of_update" (input)="onFrequencyChange()" min="1" />
                <mat-error *ngIf="interfaceForm.get('frequency_of_update')?.hasError('required')">
                  Required
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
              <mat-label>Schedule Of Update</mat-label>
              <input matInput formControlName="schedule_of_update" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Schedule Of Update</mat-label>
                <mat-select formControlName="schedule_of_update" multiple
                  (selectionChange)="onScheduleSelectionChange($event)">
                  <mat-option *ngFor="let time of timeOptions" [value]="time">
                    {{ time }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="scheduleLimitReached" style="color: red;">
                  You can only select {{ frequencyLimit }} time(s)
                </mat-hint>
                <mat-error *ngIf="interfaceForm.get('schedule_of_update')?.hasError('required')">
                  Required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Methodology Of Transfer</mat-label>
                <input matInput formControlName="methodology_of_transfer" />
                <mat-error
                  *ngIf="interfaceForm.get('methodology_of_transfer')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Interface Type</mat-label>
                <!-- <input matInput formControlName="interface_type" /> -->
                <mat-select formControlName="interface_type">
                  <mat-option *ngFor="let option of interfaceTypeOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
                <mat-error *ngIf="interfaceForm.get('interface_type')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Version</mat-label>
                <input matInput formControlName="interface_version_number" />
                <mat-error
                  *ngIf="interfaceForm.get('interface_version_number')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
              <mat-label>Status</mat-label>
              <input matInput formControlName="interface_status" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Status</mat-label>
                <mat-select formControlName="interface_status">
                  <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="interfaceForm.get('interface_status')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="interface_owner" />
                <mat-error *ngIf="interfaceForm.get('interface_owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="interface_owner_email" />
                <mat-error *ngIf="interfaceForm.get('interface_owner_email')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="interfaceForm.get('interface_owner_email')?.hasError('email')">Invalid
                  email</mat-error>
              </mat-form-field>

              <div class="row"> 
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                  <textarea
                    matInput
                    formControlName="interface_description"
                    rows="1"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10">
                  </textarea>
                <mat-error *ngIf="interfaceForm.get('interface_description')?.hasError('required')">Required</mat-error>
              </mat-form-field>
              </div>
            </form>
            <div style="padding-left: 8px;">
              <button class="btn btn--primary" (click)="onUpdate()">Save</button>
            </div>
          </div>

          <!-- Right: DataFields Table -->
          <div class="right-panel" *ngIf="interfaceId>0">
            <!-- Information Box -->

            <div class="tab-container">
              <button class="inverse"> Data Fields </button>
            </div>

            <div class="ngprime-table" *ngIf="showDataFields">
              <div class="header">
                <p-toolbar>
                  <div class="p-toolbar-group-left">
                    <button class="btn btn--tertiary btn-sm" (click)="openNew()" style="margin-right: 14px;">
                      <lucide-icon name="plus" style="width: 16px;"></lucide-icon>
                      Add New Field</button>
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" #globalFilter
                        (input)="dt.filterGlobal(globalFilter.value, 'contains')" placeholder="Global Search" />
                    </span>
                  </div>

                  <div class="p-toolbar-group-right">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                      placeholder="Choose Columns" display="chip" (onChange)="onColumnsChange($event)">
                    </p-multiSelect>
                  </div>
                </p-toolbar>
              </div>
              <!-- Data Table -->
              <div class="man">
                <p-table #dt [value]="rowData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
                  [showCurrentPageReport]="true" responsiveLayout="scroll" [globalFilterFields]="globalFilterFields"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  styleClass="p-datatable-gridlines p-datatable-sm p-mt-2">
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field">{{ col.header }}</th>
                      <th pFrozenColumn alignFrozen="right" [frozen]="true">Actions</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr>
                      <td *ngFor="let col of selectedColumns">{{ row[col.field] }}</td>
                      <td pFrozenColumn alignFrozen="right" [frozen]="true">
                        <button pButton icon="pi pi-pencil" class="p-button-text p-button-info"
                          (click)="editField(row)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                          (click)="confirmDelete(row)"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <!-- Add/Edit Dialog -->
              <div class="form-dialog-container">
                <p-dialog header="{{ isEdit ? 'Edit Field' : 'Add Field' }}" [(visible)]="fieldDialog" [modal]="true"
                  [style]="{width: '660px' }" [closable]="true">
                  <form [formGroup]="fieldForm" (ngSubmit)="saveField()">
                    <div class="p-fluid">
                      <div style="display: flex;gap: 16px;">
                        <div class="p-field p-mb-3" style="flex: 1 1 auto; max-width: 260px;">
                          <label for="user_generated_id">Field No.</label>
                          <input id="user_generated_id" type="number" pInputText formControlName="user_generated_id"
                            [ngClass]="{ 'ng-invalid ng-dirty': submitted && fieldForm.controls['user_generated_id'].invalid }" />
                          <small class="p-error"
                            *ngIf="fieldForm.get('user_generated_id')?.invalid && fieldForm.get('user_generated_id')?.touched">
                            Field No. is required and must be numeric
                          </small>
                        </div>

                        <div class="p-field p-mb-3" style="flex: 1 1 auto;">
                          <label for="field_name">Field Name</label>
                          <input id="field_name" type="text" pInputText formControlName="field_name" />
                          <small class="p-error"
                            *ngIf="fieldForm.get('field_name')?.invalid && fieldForm.get('field_name')?.touched">
                            Field Name is required
                          </small>
                        </div>
                      </div>

                      <div style="display: flex;gap: 16px;">
                        <div class="p-field p-mb-3" style="flex: 1 1 auto;" style="flex: 1 1 auto; max-width: 260px;">
                          <label for="field_description">Description</label>
                          <input id="field_description" pInputText formControlName="field_description" />
                          <small class="p-error"
                            *ngIf="fieldForm.get('field_description')?.invalid && fieldForm.get('field_description')?.touched">
                            Description is required
                          </small>
                        </div>

                        <div class="p-field p-mb-3" style="flex: 1 1 auto;">
                          <label for="data_type">Data Type</label>
                          <p-dropdown id="data_type" [options]="dataTypeOptions" formControlName="data_type"
                            placeholder="Select Data Type" appendTo="body"></p-dropdown>
                          <small class="p-error"
                            *ngIf="fieldForm.get('data_type')?.invalid && fieldForm.get('data_type')?.touched">
                            Data Type is required
                          </small>
                        </div>
                      </div>

                      <div style="display: flex;gap: 16px;">
                        <div class="p-field p-mb-3" style="flex: 1 1 auto;" style="flex: 1 1 auto; max-width: 260px;">
                          <label for="field_length">Length</label>
                          <input id="field_length" type="number" pInputText formControlName="field_length" />
                          <small class="p-error"
                            *ngIf="fieldForm.get('field_length')?.invalid && fieldForm.get('field_length')?.touched">
                            Length is required and must be numeric
                          </small>
                        </div>

                        <div class="p-field p-mb-3" style="flex: 1 1 auto;">
                          <label for="criticality">Criticality</label>
                          <p-dropdown id="criticality" [options]="criticalityOptions" formControlName="criticality"
                            placeholder="Select Criticality" appendTo="body" [autoZIndex]="true"
                            [baseZIndex]="1000"></p-dropdown>
                          <small class="p-error"
                            *ngIf="fieldForm.get('criticality')?.invalid && fieldForm.get('criticality')?.touched">
                            Criticality is required
                          </small>
                        </div>
                      </div>

                    </div>

                    <div class="p-dialog-footer">
                      <button class="btn btn--secondary" type="button" label="Cancel"
                        (click)="hideDialog()">Cancel</button>
                      <button class="btn btn--primary" type="submit" label="Save">Save</button>
                    </div>
                  </form>
                </p-dialog>
              </div>

              <!-- delete confirmation dialog -->
              <p-dialog header="Confirm Delete" [(visible)]="showDeleteDialog" [modal]="true" [closable]="false">
                <p>Are you sure you want to delete <strong>{{ selectedRow?.field_name }}</strong>?</p>
                <p-footer>
                  <button label="No" class="btn btn--secondary" style="margin-right: 16px;"
                    (click)="showDeleteDialog = false">No</button>
                  <button label="Yes" class="btn btn--danger" (click)="deleteRow()">Yes</button>
                </p-footer>
              </p-dialog>
            </div>

          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>