<div class="main-container">
  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ interfaceId > 0 ? 'Edit Interface' : 'Add Interface' }}
      </h2>
    </section>
    <mat-card>
      <div class="overlay-loader" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <div class="container">
        <!-- Left: Edit Interface Form -->
        <div class="interface-container">
          <div class="left-panel">
            <!-- <h2>Interface</h2> -->

            <form [formGroup]="interfaceForm">
              <!-- Your form controls for editing the interface -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Interface Name</mat-label>
                <input matInput formControlName="interface_name" />
                <mat-error *ngIf="interfaceForm.get('interface_name')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Quality Of Service</mat-label>
                <mat-select formControlName="quality_of_service">
                  <mat-option *ngFor="let quality of serviceQualityOptions" [value]="quality">
                    {{ quality }}
                  </mat-option>
                </mat-select>
                 <mat-error *ngIf="interfaceForm.get('quality_of_service')?.hasError('required')">Required</mat-error>
              </mat-form-field>
              <!--         

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Quality Of Service</mat-label>
              <input matInput formControlName="quality_of_service" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Frequency Of Update</mat-label>
                <input matInput formControlName="frequency_of_update" (input)="onFrequencyChange()" min="1" />
                <mat-error *ngIf="interfaceForm.get('frequency_of_update')?.hasError('required')">
                Required
              </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
              <mat-label>Schedule Of Update</mat-label>
              <input matInput formControlName="schedule_of_update" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Schedule Of Update</mat-label>
                <mat-select formControlName="schedule_of_update" multiple
                  (selectionChange)="onScheduleSelectionChange($event)">
                  <mat-option *ngFor="let time of timeOptions" [value]="time">
                    {{ time }}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="scheduleLimitReached" style="color: red;">
                  You can only select {{ frequencyLimit }} time(s)
                </mat-hint>
                 <mat-error *ngIf="interfaceForm.get('schedule_of_update')?.hasError('required')">
                Required
              </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Methodology Of Transfer</mat-label>
                <input matInput formControlName="methodology_of_transfer" />
                <mat-error *ngIf="interfaceForm.get('methodology_of_transfer')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Interface Type</mat-label>
                <!-- <input matInput formControlName="interface_type" /> -->
                <mat-select formControlName="interface_type">
                  <mat-option *ngFor="let option of interfaceTypeOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
                 <mat-error *ngIf="interfaceForm.get('interface_type')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Version</mat-label>
                <input matInput formControlName="interface_version_number" />
                 <mat-error *ngIf="interfaceForm.get('interface_version_number')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="full-width">
              <mat-label>Status</mat-label>
              <input matInput formControlName="interface_status" />
            </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                <mat-label>Status</mat-label>
                <mat-select formControlName="interface_status">
                  <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                 <mat-error *ngIf="interfaceForm.get('interface_status')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner</mat-label>
                <input matInput formControlName="interface_owner" />
                 <mat-error *ngIf="interfaceForm.get('interface_owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="interface_owner_email" />
                <mat-error *ngIf="interfaceForm.get('interface_owner_email')?.hasError('required')">Required</mat-error>
              <mat-error *ngIf="interfaceForm.get('interface_owner_email')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>            
             
            </form>
            <div class="form-grid">
              <button (click)="onUpdate()">Save</button>
            </div>
          </div>

          <!-- Right: DataFields Table -->
          <div class="right-panel" *ngIf="interfaceId>0">
            <!-- Information Box -->

            <div class="tab-container">
              <button [ngClass]="{ 'inverse': activeView === 'DataFields' }" >
                Data Fields
              </button>
            </div>

            <div class="datafields-table" *ngIf="showDataFields">
              <div class="datafields-header" style="padding: 6px;">
                <button (click)="addRow()"
                  style="font-size: 12px;border: none;background: transparent;color: #3e63dd;font-weight: 600;">Add
                  Row</button>
              </div>
              <div style="margin: 10px;">
                <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 400px;" [rowData]="rowData"
                  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                  (cellValueChanged)="onCellValueChanged($event)" rowSelection="single"
                  [suppressColumnVirtualisation]="true" [domLayout]="'autoHeight'">
                </ag-grid-angular>
              </div>


            </div>

          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>