<div class="main-container">

  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button><i class="fa fa-arrow-left" (click)="onBack()"></i></button>
        </div>
        System Builder
      </h2>
    </section>

    <mat-card>
      <div class="container">
        <div class="left-panel">
          <form class="usecase-form" [formGroup]="systemForm" (ngSubmit)="onSubmit()">
            <div class="form-field-group">
              <mat-form-field appearance="outline">
                <mat-label>System Name</mat-label>
                <input matInput formControlName="systemName">
                <mat-error *ngIf="systemForm.get('systemName')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>System Description</mat-label>
                <textarea matInput formControlName="description" rows="1"></textarea>
                <mat-error *ngIf="systemForm.get('description')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>LeanIX ID</mat-label>
                <input matInput formControlName="leanixId">
                <mat-error *ngIf="systemForm.get('leanixId')?.hasError('required')">Required</mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline">
                <mat-label>System Owner</mat-label>
                <input matInput formControlName="owner">
                <mat-error *ngIf="systemForm.get('owner')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Owner Email</mat-label>
                <input matInput formControlName="ownerEmail">
                <mat-error *ngIf="systemForm.get('ownerEmail')?.hasError('required')">Required</mat-error>
                <mat-error *ngIf="systemForm.get('ownerEmail')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Version Number - Current</mat-label>
                <input matInput formControlName="version">
                <mat-error *ngIf="systemForm.get('version')?.hasError('required')">Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>System Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let option of statusOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
                <mat-error *ngIf="systemForm.get('status')?.hasError('required')">Required</mat-error>
              </mat-form-field>
            </div>

            <div class="submit-row">
              <button mat-raised-button color="primary" type="submit">Create System</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>


  </main>
</div>
<!-- <router-outlet></router-outlet> child pages like builder will open here -->