/* dashboard.component.scss */
/* app.component.scss */
.main-container {
  display: flex;
}

.dashboard-container {
  flex-grow: 1;
  padding: 1rem;
  // height: 100vh;
  overflow-y: auto;
  background: #f5f7f9;
}

// .welcome-banner {
//   color: white;
//   padding: .6rem 2rem;
//   margin-bottom: 2rem;
//   border-radius: 0.4rem;
//   background: linear-gradient(to right, #4f46e5, #6366f1);

//   h2,
//   p {
//     margin: 0rem;
//   }
// }

.user-list-container {
  width: 100%;
  margin: 0px;
  padding: 0px 20px;
}

.user-form {
  gap: 10px;
  margin: auto;
  padding: 3rem;
  display: flex;
  max-width: 500px;
  border-radius: 8px;
  background: #ffffff;
  flex-direction: column;
}

