<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
    <section class="welcome-banner">
        <h2>Systems</h2>
      </section>
      <div class="system-table-container">
        <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2"> -->
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z2">

      
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="systemid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>System ID</th>
            <td mat-cell *matCellDef="let row">{{ row.system_id }}</td>
          </ng-container>
      
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.system_name }}</td>
          </ng-container>
      
          <!-- Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>
      
          <!-- Owner -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner }}
            </td>
          </ng-container>

           <!-- Owner Email -->
           <ng-container matColumnDef="owner_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Email</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner_email }}
            </td>
          </ng-container>
      
          <!-- LeanIX ID -->
          <ng-container matColumnDef="leanixId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LeanIX ID</th>
            <td mat-cell *matCellDef="let row">{{ row.leanix_id }}</td>
          </ng-container>
<!--       
          <ng-container matColumnDef="accuracyRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.accuracy_risk }}</td>
          </ng-container>
      
          <ng-container matColumnDef="timelinessRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Timeliness Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.timeliness_risk }}</td>
          </ng-container> -->
      
          <!-- Ctrls -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td mat-cell *matCellDef="let row">{{ row.version_number }}</td>
          </ng-container>
      
          <!-- Trgts -->
          <!-- <ng-container matColumnDef="trgts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trgts</th>
            <td mat-cell *matCellDef="let row">{{ row.trgts }}</td>
          </ng-container> -->
      
          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <!-- <span [ngClass]="row.status.toLowerCase().replace(' ', '-') + '-badge'" class="status-badge"> -->
                {{ row.status }}
              <!-- </span> -->
            </td>
          </ng-container>
      
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editSystem(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteSystem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Hidden column for expanded row content -->
         
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Main row -->
  <tr mat-row 
  *matRowDef="let row; columns: displayedColumns"
  class="main-row"
  [class.expanded]="expandedElement === row"
  (click)="toggleRow(row)">
</tr>

<!-- Expanded Detail Row -->
<!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->

          
        </table>
      </div>
      
</main>
</div>
<!-- <router-outlet></router-outlet> child pages like builder will open here -->
