<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
    <section class="welcome-banner">
        <h2>Systems</h2>
      </section>
      <div class="system-table-container">
        <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2"> -->
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z2">

      
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="systemid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>System ID</th>
            <td mat-cell *matCellDef="let row">{{ row.system_id }}</td>
          </ng-container>
      
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.system_name }}</td>
          </ng-container>
      
          <!-- Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>
      
          <!-- Owner -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner }}
            </td>
          </ng-container>

           <!-- Owner Email -->
           <ng-container matColumnDef="owner_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Email</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner_email }}
            </td>
          </ng-container>
      
          <!-- LeanIX ID -->
          <ng-container matColumnDef="leanixId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LeanIX ID</th>
            <td mat-cell *matCellDef="let row">{{ row.leanix_id }}</td>
          </ng-container>
<!--       
          <ng-container matColumnDef="accuracyRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.accuracy_risk }}</td>
          </ng-container>
      
          <ng-container matColumnDef="timelinessRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Timeliness Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.timeliness_risk }}</td>
          </ng-container> -->
      
          <!-- Ctrls -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td mat-cell *matCellDef="let row">{{ row.version_number }}</td>
          </ng-container>
      
          <!-- Trgts -->
          <!-- <ng-container matColumnDef="trgts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trgts</th>
            <td mat-cell *matCellDef="let row">{{ row.trgts }}</td>
          </ng-container> -->
      
          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <!-- <span [ngClass]="row.status.toLowerCase().replace(' ', '-') + '-badge'" class="status-badge"> -->
                {{ row.status }}
              <!-- </span> -->
            </td>
          </ng-container>
      
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editSystem(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteSystem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Hidden column for expanded row content -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" *ngIf="expandedElement === row">
                <button mat-stroked-button color="primary" (click)="addRow(row)">Add Row</button>
                <table mat-table [dataSource]="row.childGridData" class="mat-elevation-z2 editable-sub-table" style="width: 100%;">
                  <!-- Column Definitions -->
                
                  <ng-container matColumnDef="fieldName">
                    <th mat-header-cell *matHeaderCellDef>Field Name</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" floatLabel="auto" class="form-cell">
                        <input matInput [(ngModel)]="element.field_name">
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="fieldDescription">
                    <th mat-header-cell *matHeaderCellDef>Field Description</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" floatLabel="auto" class="form-cell">
                        <input matInput [(ngModel)]="element.field_description">
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="dataType">
                    <th mat-header-cell *matHeaderCellDef>Data Type</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" class="form-cell">
                        <mat-select [(ngModel)]="element.data_type">
                          <mat-option *ngFor="let type of dataTypes" [value]="type">{{ type }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="fieldLength">
                    <th mat-header-cell *matHeaderCellDef>Field Length</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" class="form-cell">
                        <input matInput type="number" [(ngModel)]="element.field_length">
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="dqaRiskLevel">
                    <th mat-header-cell *matHeaderCellDef>DQA Risk Level</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" class="form-cell">
                        <mat-select [(ngModel)]="element.risk_level">
                          <mat-option *ngFor="let level of dqaRiskLevels" [value]="level">{{ level }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="criticality">
                    <th mat-header-cell *matHeaderCellDef>Criticality</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" class="form-cell">
                        <mat-select [(ngModel)]="element.criticality">
                          <mat-option *ngFor="let crit of criticalityOptions" [value]="crit">{{ crit }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="riskLevelStatement">
                    <th mat-header-cell *matHeaderCellDef>Risk Level Statement</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field appearance="fill" floatLabel="auto" class="form-cell">
                        <input matInput [(ngModel)]="element.risk_level_statement">
                      </mat-form-field>
                    </td>
                  </ng-container>
                
                  <!-- Actions -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <button mat-icon-button color="success" matTooltip="Save" (click)="saveChildGrid(row)">
                        <mat-icon>save</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" matTooltip="Delete" (click)="removeSubRow(row, i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                
                  <!-- Header & Row -->
                  <tr mat-header-row *matHeaderRowDef="editableColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: editableColumns"></tr>
                </table>
                
                <!-- Action Buttons -->
                <!-- <div class="action-bar">
                  <button mat-stroked-button color="primary" (click)="addSubRow(row)">
                    <mat-icon>add</mat-icon> Add Row
                  </button>
                  <button mat-flat-button color="accent" (click)="saveChildGrid(row)">
                    <mat-icon>save</mat-icon> Save
                  </button>
                </div> -->
                </div>
            </td>
          </ng-container>
       
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Main row -->
  <tr mat-row 
  *matRowDef="let row; columns: displayedColumns"
  class="main-row"
  [class.expanded]="expandedElement === row"
  (click)="toggleRow(row)">
</tr>

<!-- Expanded Detail Row -->
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

          
        </table>
      </div>
      
</main>
</div>
<!-- <router-outlet></router-outlet> child pages like builder will open here -->
