<div class="main-container">

  <main class="dashboard-container">
    <section class="welcome-banner">
      <h2>
        <div class="back-icon">
          <button (click)="onBack()">
            <lucide-icon name="chevron-left"></lucide-icon>
          </button>
        </div>
        {{ controlId > 0 ? 'Edit Control' : 'Add Control' }}
      </h2>
    </section>
    <mat-card>

      <div class="container11">
        <div class="control-container">

          <div class="left-panel">
            <form class="usecase-form" [formGroup]="controlForm">
              <div class="form-field-group">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Control Name</mat-label>
                  <input matInput formControlName="control_name" />
                  <mat-error *ngIf="controlForm.get('control_name')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Control Description</mat-label>
                  <input matInput formControlName="control_description" />
                  <mat-error *ngIf="controlForm.get('control_description')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Attach To</mat-label>
                  <!-- <input matInput formControlName="attach_to" /> -->
                  <mat-select formControlName="attach_to" (selectionChange)="onChange($event.value)">
                    <mat-option *ngFor="let data of attachToOptions" [value]="data">
                      {{ data }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="controlForm.get('attach_to')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Attach To ID</mat-label>
                  <!-- <input matInput formControlName="attach_to_id" /> -->
                  <mat-select formControlName="attach_to_id">
                    <mat-option *ngFor="let item of filteredAttachToIdOptions" [value]="item.id">
                      {{ item.id }} - {{ item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="controlForm.get('attach_to_id')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Control Owner</mat-label>
                  <input matInput formControlName="control_owner" />
                  <mat-error *ngIf="controlForm.get('control_owner')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Owner Email</mat-label>
                  <input matInput formControlName="control_owner_email" />
                  <mat-error *ngIf="controlForm.get('control_owner_email')?.hasError('required')">Required</mat-error>
                  <mat-error *ngIf="controlForm.get('control_owner_email')?.hasError('email')">Invalid email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Version</mat-label>
                  <input matInput formControlName="version_number" />
                  <mat-error *ngIf="controlForm.get('version_number')?.hasError('required')">Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="controlForm.get('status')?.hasError('required')">Required</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Application Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="application_date"
                    placeholder="Choose a date" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="controlForm.get('application_date')?.hasError('required')">Required</mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width" *ngIf="formLoaded">
                  <mat-label>Application Date Status</mat-label>
                  <mat-select formControlName="application_date_status">
                    <mat-option *ngFor="let status of applicationStatusOptions" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="controlForm.get('application_date_status')?.hasError('required')">Required</mat-error>
                </mat-form-field>
              </div>
              <!-- Add remaining fields similarly -->
              <!-- <div class="updateBtn">
                <button mat-raised-button color="primary" (click)="onUpdate()" style="margin-right: 12px;">Save</button>
              </div> -->
              <!-- Toggle Button -->
              <!-- <div style="display: flex; height: 100%;">

                <div style="width: 100%; padding: 12px;">
                  <div style="display: flex; flex-wrap: wrap; gap: 12px;">
                   

                    <button mat-raised-button style="flex: 0 0 calc(50% - 6px);"
                      [ngClass]="{ 'inverse': activeView === 'datafields', 'primary': activeView !== 'datafields' }"
                      (click)="getControlsDatafields('datafields')">
                      DataField Control
                    </button>

                  </div>
                </div>
              </div> -->
              <div class="form-grid">
                <button (click)="onUpdate()">Save</button>
              </div>
            </form>

          </div>

          <!-- Right: DataFields Table -->
          <div class="right-panel" *ngIf="controlId>0">
            <div class="tab-container">
              <button [ngClass]="{ 'inverse': activeView === 'DataFields' }">
                Data Fields
              </button>
            </div>

            <div class="datafields-table" style="margin: 10px">
              <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 300px;" [rowData]="rowData"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                (cellValueChanged)="onCellValueChanged($event)" rowSelection="single">
              </ag-grid-angular>

            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </main>
</div>