.mat-mdc-card {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 8px;
    width: calc(100% - 2rem);
    background-color: transparent;
    // border: 1px solid rgba(24, 29, 29, 0.15);
}

.control-container {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .left-panel {
        width: 100%;
        padding: 0rem;
        background: #ffffff;
        border: 1px solid rgb(232, 232, 232);

        .usecase-form {
            padding: 1rem;
            max-width: 1200px;
            border-radius: .5rem;

            ::ng-deep .mdc-text-field--outlined .mdc-floating-label {
                top: 22px;
                font-size: 14px;
            }
        }
    }

    .right-panel {
        width: 100%;
        padding: 0px;
        overflow: hidden;
        min-height: 100px;
        background-color: #fff;
        border: 1px solid rgb(232, 232, 232);

        .tab-container {
            background: rgb(245, 250, 255);
            border-bottom: 1px solid rgb(232, 232, 232);

            button {
                border: none;
                font-size: 14px;
                box-shadow: none;
                padding: .6rem 1rem;
                background: rgb(245, 250, 255);
            }
        }
    }
}

// ==== TABLE GRID STYLE ====
.man {
    ::ng-deep .p-datatable .p-datatable-thead>tr>th {
        font-size: 13px;
        font-weight: 500;
        color: #323130;
        padding: 6px 8px !important;
        border-top: 1px solid #f1f5f9;
        border-bottom: 1px solid #f1f5f9;

        .p-icon {
            width: 0.66rem;
        }
    }

    ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0px 8px !important;
        line-height: normal;
        color: #333;
        font-size: 13px;
        border-bottom: 1px solid #f1f5f9;

        .p-button-text {
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 100%;

            .pi {
                font-size: 12px;

                &.pi-pencil {
                    color: #3c3c43;
                }

                &.pi-trash {
                    color: #ff0000;
                }
            }
        }
    }
}