<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
    <section class="welcome-banner">
        <h2>Control Builder</h2>
      </section>
      <mat-card>
        <div class="container">
          <!-- Left: Edit Control Form -->
          <div class="left-panel">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
          <!-- <div class="form-grid"> -->
            <mat-form-field appearance="outline">
              <mat-label>Control Name</mat-label>
              <input matInput formControlName="controlName">
              <mat-error *ngIf="controlForm.get('controlName')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Control Description</mat-label>
              <input matInput formControlName="controlDescription">
              <mat-error *ngIf="controlForm.get('controlDescription')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Attach To</mat-label>
              <mat-select formControlName="attachto" (selectionChange)="onChange($event.value)">
                <mat-option *ngFor="let option of attachToOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
              <mat-error *ngIf="controlForm.get('attachto')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <!-- Attach To ID Dropdown (Populated from API) -->
            <mat-form-field appearance="outline">
              <mat-label>Attach To ID</mat-label>
              <mat-select formControlName="attachToId">
                <mat-option *ngFor="let item of filteredAttachToIdOptions" [value]="item.id">
                  {{ item.id }} - {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="controlForm.get('attachToId')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Control Owner</mat-label>
              <input matInput formControlName="owner">
              <mat-error *ngIf="controlForm.get('owner')?.hasError('required')">Required</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label>Owner Email</mat-label>
              <input matInput formControlName="ownerEmail">
              <mat-error *ngIf="controlForm.get('ownerEmail')?.hasError('required')">Required</mat-error>
              <mat-error *ngIf="controlForm.get('ownerEmail')?.hasError('email')">Invalid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Version Number - Current</mat-label>
              <input matInput formControlName="version">
              <mat-error *ngIf="controlForm.get('version')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            
            <mat-form-field appearance="outline">
              <mat-label>Control Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let option of statusOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
              <mat-error *ngIf="controlForm.get('status')?.hasError('required')">Required</mat-error>
            </mat-form-field>      
            
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Application Date</mat-label>
              <input matInput [matDatepicker]="nextPicker" formControlName="applicationDate">
              <mat-datepicker-toggle matSuffix [for]="nextPicker"></mat-datepicker-toggle>
              <mat-datepicker #nextPicker></mat-datepicker>
              <mat-error *ngIf="controlForm.get('applicationDate')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Application Status</mat-label>
              <mat-select formControlName="applicationStatus" [disabled]="true">
                <mat-option *ngFor="let option of applicationStatusOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
               <mat-error *ngIf="controlForm.get('applicationStatus')?.hasError('required')">Required</mat-error>
            </mat-form-field>
            
          <!-- </div> -->
          <div class="form-grid">
          <button mat-raised-button color="primary" class="create-btn" type="submit" style="width: 40%;
    margin: 0 auto;">Create Control</button>
          </div>
        </form>
        </div>
        </div>
      </mat-card>
      
</main>
</div>
<!-- <router-outlet></router-outlet> child pages like builder will open here -->
