.main-container {
  display: flex;
}

// .dashboard-container {
//   flex-grow: 1;
//   padding: 1rem;
//   background: #f5f7f9;
//   height: 100vh;
//   overflow-y: auto;
// }


.mat-select[disabled] {
  opacity: 1;
  color: black;
  -webkit-text-fill-color: black;
}