<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>
  
  <main class="dashboard-container">
<section class="welcome-banner">
    <h2>Dashboard</h2>
    <p>Welcome to London Stock Exchange Data Quality</p>
  </section>
  
  <div class="card-grid">
    <mat-card *ngFor="let item of stats" class="status-card">
      <div class="icon" >
        <span [ngStyle]="{ 'background-color': item.bgColor }" [innerHTML]="item.icon">
  <!-- {{item.icon}} -->
</span>
<h3>{{ item.title }}</h3>
</div>
      
      <h1>{{ item.total }}</h1>
      <div class="statuses">
        <span class="not-started">{{ item.notStarted }} Not Started</span>
        <span class="expired">{{ item.expired }} Expired</span>
        <span class="complete">{{ item.complete }} Complete</span>
      </div>
    </mat-card>
  </div>

  <mat-tab-group>
    <!-- Use Cases Tab -->
    <mat-tab label="Use Cases">
      <div class="table-container">
        <mat-form-field appearance="outline" class="search-box">
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="searchText" placeholder="Search">
        </mat-form-field>
  
        <table mat-table [dataSource]="filteredData" matSort class="mat-elevation-z1">
  
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>
  
          <!-- Owner Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.ownerImg" class="avatar" alt="owner" />
              {{ row.owner }}
            </td>
          </ng-container>
  
          <!-- Count Columns -->
          <ng-container matColumnDef="sys">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sys</th>
            <td mat-cell *matCellDef="let row">{{ row.sys }}</td>
          </ng-container>
  
          <ng-container matColumnDef="src">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Src</th>
            <td mat-cell *matCellDef="let row">{{ row.src }}</td>
          </ng-container>
  
          <ng-container matColumnDef="int">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Int</th>
            <td mat-cell *matCellDef="let row">{{ row.int }}</td>
          </ng-container>
  
          <ng-container matColumnDef="ctrls">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ctrls</th>
            <td mat-cell *matCellDef="let row">{{ row.ctrls }}</td>
          </ng-container>
  
          <ng-container matColumnDef="trgts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trgts</th>
            <td mat-cell *matCellDef="let row">{{ row.trgts }}</td>
          </ng-container>
  
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <!-- <span class="status-badge" [ngClass]="row.status.toLowerCase()"> -->
                {{ row.status }}
              <!-- </span> -->
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <!-- Table Header & Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>
  
    <!-- Other Tabs -->
    <mat-tab label="Systems">
      <p class="tab-placeholder">Systems content goes here.</p>
      <div class="system-table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
      
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="systemid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>System ID</th>
            <td mat-cell *matCellDef="let row">{{ row.system_id }}</td>
          </ng-container>
      
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.system_name }}</td>
          </ng-container>
      
          <!-- Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>
      
          <!-- Owner -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner }}
            </td>
          </ng-container>

           <!-- Owner Email -->
           <ng-container matColumnDef="owner_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Email</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.owner_email }}
            </td>
          </ng-container>
      
          <!-- LeanIX ID -->
          <ng-container matColumnDef="leanixId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LeanIX ID</th>
            <td mat-cell *matCellDef="let row">{{ row.leanix_id }}</td>
          </ng-container>
      
          <!-- Src -->
          <ng-container matColumnDef="accuracyRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.accuracy_risk }}</td>
          </ng-container>
      
          <!-- Int -->
          <ng-container matColumnDef="timelinessRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Timeliness Risk</th>
            <td mat-cell *matCellDef="let row">{{ row.timeliness_risk }}</td>
          </ng-container>
      
          <!-- Ctrls -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td mat-cell *matCellDef="let row">{{ row.version_number }}</td>
          </ng-container>
      
          <!-- Trgts -->
          <!-- <ng-container matColumnDef="trgts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trgts</th>
            <td mat-cell *matCellDef="let row">{{ row.trgts }}</td>
          </ng-container> -->
      
          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <span [ngClass]="row.status.toLowerCase().replace(' ', '-') + '-badge'" class="status-badge">
                {{ row.status }}
              </span>
            </td>
          </ng-container>
      
          <!-- Actions -->
          <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="editSystem(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteSystem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container> -->
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSystems"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSystems;"></tr>
        </table>
      </div>
    </mat-tab>
  
    <mat-tab label="Sources">
      <p class="tab-placeholder">Sources content goes here.</p>
      <div class="system-table-container">
        <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2"> -->
          <table mat-table [dataSource]="dataSource_1" matSort multiTemplateDataRows class="mat-elevation-z2">

      
          <!-- Checkbox Column -->
          <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container> -->
          <ng-container matColumnDef="sourceid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Source ID</th>
            <td mat-cell *matCellDef="let row">{{ row.source_id }}</td>
          </ng-container>
      
          <!-- Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.source_name }}</td>
          </ng-container>
      
          <!-- Service Quality -->
          <ng-container matColumnDef="servicequality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quality Of Service</th>
            <td mat-cell *matCellDef="let row">{{ row.quality_of_service }}</td>
          </ng-container>

          <ng-container matColumnDef="frequencyupdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency Of Update</th>
            <td mat-cell *matCellDef="let row">{{ row.frequency_of_update }}</td>
          </ng-container>

          <ng-container matColumnDef="scheduleupdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Schedule Of Update</th>
            <td mat-cell *matCellDef="let row">{{ row.schedule_of_update }}</td>
          </ng-container>

          <ng-container matColumnDef="transfermethodology">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Methodology Of Transfer</th>
            <td mat-cell *matCellDef="let row">{{ row.methodology_of_transfer }}</td>
          </ng-container>

          <ng-container matColumnDef="sourcetype">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Source Type</th>
            <td mat-cell *matCellDef="let row">{{ row.source_type }}</td>
          </ng-container>
      
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td mat-cell *matCellDef="let row">{{ row.source_version_number }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{ row.source_status }}</td>
          </ng-container>

          <!-- Owner -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.source_owner }}
            </td>
          </ng-container>

           <!-- Owner Email -->
           <ng-container matColumnDef="owner_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Email</th>
            <td mat-cell *matCellDef="let row">
              <!-- <img [src]="row.ownerImg" class="owner-img" alt="owner" /> -->
              {{ row.source_owner_email }}
            </td>
          </ng-container>
          

       
          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSource"></tr>
            <!-- Main row -->
  <tr mat-row 
  *matRowDef="let row; columns: displayedColumnsSource"
  class="main-row">
</tr>


          
        </table>
      </div>
    </mat-tab>
  
    <mat-tab label="Controls">
      <p class="tab-placeholder">Controls content goes here.</p>
    </mat-tab>
  
    <mat-tab label="Targets">
      <p class="tab-placeholder">Targets content goes here.</p>
    </mat-tab>
  
    <mat-tab label="Interfaces">
      <p class="tab-placeholder">Interfaces content goes here.</p>
    </mat-tab>
  </mat-tab-group>
</main>
</div>
  